<ng-container *ngIf="user$ | async as user">
	<nz-drawer
		[nzVisible]="visible"
		[nzPlacement]="placement"
		[nzTitle]="titleTpl"
		(nzOnClose)="closeDrawer()"
		nzCloseIcon=""
	>
		<div fxFlex="grow" fxLayout="column">
			<div fxFlex="grow">
				<section>
					<label>Salon</label>
					<div class="value">
						{{ user.domain }}
					</div>
				</section>
				<section>
					<label>Inscrit le</label>
					<div class="value">
						{{ user.createdAt | timestampToDate: 'dd/MM/yyyy' }}
					</div>
				</section>
				<section>
					<button nz-button nzBlock (click)="navigateTo('/settings')" routerLink="">
						<i nz-icon nzType="setting" nzTheme="outline"></i>
						Mes préférences
					</button>
				</section>
			</div>
			<div fxFlex="none">
				<div fxLayout="column" fxLayoutAlign="center center">
					<button
						nz-button
						nzType="default"
						nzDanger
						(click)="logout()"
						class="logout-button"
					>
						<i nz-icon nzType="logout" nzTheme="outline"></i>
						Déconnexion
					</button>
					<button
						nz-button
						nzType="text"
						(click)="deleteAccount()"
						class="delete-account-button"
					>
						Supprimer mon compte
					</button>
				</div>
			</div>
		</div>
	</nz-drawer>

	<ng-template #titleTpl>
		<div nz-typography class="nickname" [style.color]="user.color">{{ user.nickname }}</div>
	</ng-template>
</ng-container>
