.nickname {
	font-size: 22px;
	margin: 0;
}
::ng-deep .ant-drawer-body {
	display: flex;
}
::ng-deep .ant-drawer-body section:not(:last-child) {
	margin-bottom: 1em;
}
label {
	font-size: small;
}

.value {
	font-size: medium;
	font-weight: 600;
}

.logout-button {
	margin-bottom: 10px;
}

.action-button {
	font-size: smaller;
}
.delete-account-button:hover {
	color: #ff4d4f;
}
.delete-account-modal {
}
.social_pages > * {
	border-radius: 5px;
	padding: 2px;
	border: 1px solid #ffffff00;
	transition: border 0.33s;
	&:hover {
		border: 1px solid #cacaca;
	}
}
