<ng-container *ngIf="user$ | async as user">
	<nz-drawer
		[nzVisible]="visible"
		[nzPlacement]="placement"
		[nzTitle]="titleTpl"
		(nzOnClose)="closeDrawer()"
		nzCloseIcon=""
		[nzContent]="nzDrawerContent"
	>
		<ng-template #nzDrawerContent>
			<div fxFlex="grow" fxLayout="column">
				<div fxFlex="grow">
					<section>
						<label>Salon</label>
						<div class="value">
							{{ user.domain }}
						</div>
					</section>
					<section>
						<label>Inscrit le</label>
						<div class="value">
							{{ user.createdAt | timestampToDate: 'dd/MM/yyyy' }}
						</div>
					</section>
				</div>
				<div fxFlex="none" class="relative" style="margin-top: 50px">
					<div fxLayout="column" fxLayoutAlign="center center">
						<button
							class="pwa-button"
							[class.flip-out-hor-top]="userInstalledApp"
							*ngIf="showAddPwaButton"
							(click)="showPwaInstallPrompt()"
						>
							<i nz-icon nzType="appstore-add" nzTheme="outline"></i>
							<span fxLayout="column" fxLayoutAlign="center start">
								<span class="promo"></span>
								<span>Installer l'application</span>
							</span>
						</button>
						<button
							nz-button
							nzType="default"
							nzDanger
							(click)="logout()"
							class="logout-button"
						>
							<i nz-icon nzType="logout" nzTheme="outline"></i>
							Déconnexion
						</button>
						<button
							nz-button
							nzType="text"
							(click)="resetPassword()"
							class="action-button"
						>
							<i nz-icon nzType="lock" nzTheme="outline"></i>
							Modifier mon mot de passe
						</button>
						<button
							nz-button
							nzType="text"
							(click)="deleteAccount()"
							class="action-button delete-account-button"
						>
							<i nz-icon nzType="frown" nzTheme="outline"></i>
							Supprimer mon compte
						</button>
					</div>
				</div>
				<nz-divider style="margin: 12px 0"></nz-divider>
				<div fxFlex="none" fxLayout="column" fxLayoutGap="10px;" style="font-size: small">
					<div class="center" style="margin-bottom: 3px; font-weight: 300">
						Suivez nous !
					</div>
					<div fxLayoutAlign="center" fxLayoutGap="2px" class="social_pages">
						<a href="https://www.facebook.com/decompresso" target="_blank">
							<img
								src="assets/icons/facebook.svg"
								alt="Page Facebook"
								title="Page Facebook"
						/></a>
						<a href="https://www.linkedin.com/company/decompresso/" target="_blank">
							<img
								src="assets/icons/linkedin.svg"
								alt="Page LinkedIn"
								title="Page LinkedIn"
						/></a>
					</div>
				</div>
			</div>
		</ng-template>
	</nz-drawer>

	<ng-template #titleTpl>
		<div nz-typography class="nickname" [style.color]="user.color">{{ user.nickname }}</div>
	</ng-template>
</ng-container>
