.success {
	background-color: #52c41a;
	color: white;
	border-color: #52c41a;
}

input {
	text-transform: lowercase;
}

input.ng-dirty:focus,
input:disabled,
input.ng-valid {
	text-align: right;
	font-weight: bold;
	color: dodgerblue;
}
