$animation-duration: 7000ms;
$animation-delay: 0ms;

#container {
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		max-width: 700px;
		max-height: 400px;
	}
}
.domain {
	text-transform: uppercase;
}
.rotating-text {
	opacity: 0;
	text-align: center;
}

.rotating-text {
	animation-name: slow-rotate;
	animation-duration: $animation-duration;
	animation-delay: $animation-delay;
	animation-iteration-count: infinite;

	&.domain {
		animation-name: rotate;
	}
}

@keyframes rotate {
	0% {
		opacity: 0;
		transform: translate3d(0, 20px, 0);
	}

	10%,
	90% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	100% {
		opacity: 0;
		transform: translate3d(0, -5px, 0);
	}
}

@keyframes slow-rotate {
	0% {
		opacity: 0;
		transform: translate3d(0, 3px, 0);
	}

	30%,
	90% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	100% {
		opacity: 0;
		transform: translate3d(0, -5px, 0);
	}
}

#dash-circle {
	transform-box: fill-box;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;
	animation: rotation 120s linear infinite;
	animation-direction: reverse;
}

@keyframes rotation {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
