rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {
		match /users/{userId} {
			allow read: if authUidMatchesNoVerification(userId);
		}
		match /reading/{userId} {
			allow read, write: if authUidMatches(userId);
		}
		match /rooms/{domain} {
			allow get: if isMyDomain(domain);

			match /members/{userId} {
				allow read: if isMyDomain(domain);
			}
			match /reports/{uid} {
				allow create: if isMyDomain(domain)
					&& resource.data.report_author == request.auth.uid
					&& exists(/databases/$(database)/documents/users/$(resource.data.message_author))
					&& resource.data.moderation == 'pending';
			}
		}
		match /chats/{domain} {
			allow get: if isMyDomain(domain);
			allow update: if isMyDomain(domain) && !("last_purge" in request.resource.data);
		}
		match /{path=**}/reports/{uid} {
        	allow read, write: if isAdmin();
        }


		function authUidMatches(uid) {
			return isVerified() && request.auth != null && request.auth.uid == uid;
		}
		function authUidMatchesNoVerification(uid) {
			return request.auth != null && request.auth.uid == uid;
		}
		function isVerified() {
			return (request.auth != null && request.auth.token.email_verified == true) || exists(/databases/$(database)/documents/users/$(request.auth.uid));
		}
		function isMyDomain(domain) {
			return isVerified() && ("domain" in request.auth.token && request.auth.token.domain == domain) || (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.domain == domain);
		}
		function isAdmin() {
			return isVerified() && request.auth != null && request.auth.token.admin == true;
		}
	}
}
