<div class="main-container xs-padding">
	<div class="page-title">Ils parlent de nous</div>
</div>
<main class="xs-padding" style="max-width: 1599px">
	<div
		class="grid"
		fxLayout="row wrap"
		fxLayout.lt-md="column"
		fxLayoutAlign="space-around"
		fxLayoutAlign.lt-md="center center"
		fxLayoutGap="40px"
	>
		<a
			href="https://sunalpes.com/podcasts/replay-153/decompresso-le-t-chat-anonyme-du-bureau-made-in-annecy-327"
			target="_blank"
		>
			<div><img src="assets/publicity/sun_alpes.png" alt="Radio Sun Alpes" /></div>
			<div class="quote">
				<q>Le t'chat anonyme du bureau made in Annecy</q>
				<div class="caption">Radio Sun Alpes</div>
			</div>
		</a>
		<a
			href="https://www.jaimelesstartups.fr/decompresso-le-chat-en-ligne-anonyme-pour-chatter-entre-collegue/"
			target="_blank"
		>
			<div>
				<img src="assets/publicity/jaime_les_startups.png" alt="J'aime Les Startups" />
			</div>
			<div class="quote">
				<q>
					La startup décompresso a créé un chat en ligne anonyme pour chatter entre
					collègues de manière décontractée.
				</q>
				<div class="caption">J'aime les Startups</div>
			</div>
		</a>
		<a href="https://lespepitestech.com/startup-de-la-french-tech/decompresso" target="_blank">
			<div>
				<img src="assets/publicity/pepites_tech.png" alt="Les Pépites Tech" />
			</div>
			<div class="quote">
				<q>
					Un lieu d’échange et de liberté pour les salariés, sans les barrières
					hiérarchiques traditionnelles.
				</q>
				<div class="caption">Les Pépites Tech</div>
			</div>
		</a>
		<a
			href="https://www.odsradio.com/news/locales/65295/une-appli-annecienne-pour-les-salaries-en-teletravail"
			target="_blank"
		>
			<div><img src="assets/publicity/ods.png" alt="ODS Radio" /></div>
			<div class="quote">
				<q> Une appli annécienne pour les salariés en télétravail </q>
				<div class="caption">ODS Radio</div>
			</div>
		</a>
		<a
			href="https://rcf.fr/la-matinale/decompresso-l-appli-haut-savoyarde-qui-remplace-la-machine-cafe"
			target="_blank"
		>
			<div><img src="assets/publicity/rcf.png" alt="RCF" /></div>
			<div class="quote">
				<q> Décompresso, l'appli haut-savoyarde qui remplace la machine à café ! </q>
				<div class="caption">La Matinale RCF</div>
			</div>
		</a>
		<div>
			<div>
				<img src="assets/publicity/eco_savoie_mont_blanc.png" alt="ECO Savoie Mont Blanc" />
			</div>
			<div class="quote">
				<q> Decompresso.fr, un tchat qui rassemble au travail </q>
				<div class="caption">Édition n°9 - mars 2021</div>
			</div>
		</div>
		<div>
			<div>
				<img
					src="assets/publicity/francebleu_savoie.png"
					alt="France Bleu Pays de Savoie"
				/>
			</div>
		</div>
	</div>
</main>
