.grid {
	text-align: center;

	& > * {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 30px 0;
		max-width: min(90vw, 350px);

		& > div:first-child {
			flex-grow: 1;
			flex-shrink: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 10px;

			img {
				max-width: min(90%, 250px);
				/*filter: saturate(0);*/
				transition: filter 0.25s;
			}
		}

		h3 {
			transition: color 0.5s;
			text-decoration: underline;
		}
		&:hover {
			h3 {
				color: dodgerblue !important;
			}
			img {
				/*filter: saturate(1) !important;*/
			}
		}
		padding-bottom: 10px;
	}
}

.quote {
	color: dimgrey;
	font-style: italic;
	position: relative;
	transition: background-color 0.2s ease-out;

	q {
		quotes: '«' '»';
		&:before {
			padding-right: 2px;
		}
		&:after {
			padding-left: 2px;
		}
	}

	.caption {
		position: absolute;
		bottom: -15px;
		right: -17px;
		color: white;
		background-color: dodgerblue;
		border-radius: 2px;
		padding: 1px 7px;
		font-style: normal;
		font-weight: 600;
	}
}

a {
	transition: background-color 0.2s ease-out;
	border-radius: 5px;
	border: 1px solid transparent;
	&:hover {
		border: 1px solid #dceeff;
		background-color: #f5fdff;

		.quote {
			background-color: #e9fbff;
		}
	}
}
