<ng-container *transloco="let t; read: 'about'">
	<div class="main-container xs-padding">
		<div class="page-title">{{ t('page_title') }}</div>
		<h1>{{ t('project.title') }}</h1>
		<p [innerHTML]="t('project.content')"></p>

		<h1>{{ t('team.title') }}</h1>
		<div fxLayout="row wrap" fxLayoutAlign="center center" class="center mb2">
			<img
				src="assets/equipe.png"
				id="the-team"
				class="photo m2"
				alt="L'équipe Décompresso"
				height="260px"
			/>
			<img
				src="assets/equipe_fun.png"
				id="the-fun-team"
				class="photo m2"
				alt="L'équipe Décompresso incognito"
				height="280px"
				fxFlexOrder.lt-md="3"
			/>
			<div class="left-align my2" [innerHTML]="t('team.content')"></div>
		</div>

		<h1>{{ t('tomorrow.title') }}</h1>
		<p [innerHTML]="t('tomorrow.intro')"></p>
		<ul [innerHTML]="t('tomorrow.list')"></ul>
		<nz-divider style="margin: 50px 0"></nz-divider>
		<div class="center" style="margin-top: 50px; margin-bottom: 20px">
			<div style="font-family: 'Carter One', serif; font-size: 24px">Décompresso</div>
			<div style="margin: 5px 0">un produit</div>
			<img
				src="assets/wonderwork@2x.png"
				id="logo-wonderwork"
				class="m2"
				alt="Logo WonderWork"
				width="360px"
				style="max-width: 95%"
			/>
		</div>
	</div>
</ng-container>
