<nz-alert
	nzType="success"
	[nzDescription]="authenticatedTpl"
	nzShowIcon
	*ngIf="authService.isAuthenticated$ | async; else loginCardTpl"
></nz-alert>
<ng-template #authenticatedTpl>
	Connecté !
	<br />
	Vous pouvez maintenance fermer cette fenêtre.
</ng-template>
<ng-template #loginCardTpl>
	<nz-card class="card">
		<form nz-form nzLayout="vertical" [formGroup]="formGroup" (ngSubmit)="submitClicked()">
			<nz-form-item>
				<nz-form-label class="label">
					Je rejoins mes collègues avec mon adresse pro
					<i
						nz-icon
						nz-tooltip
						[nzTooltipTitle]="labelTooltip"
						nzTooltipOverlayClassName="labelTooltip"
						nzType="question-circle"
						nzTheme="outline"
						style="margin-left: 5px"
					></i>
					<ng-template #labelTooltip>
						En vous connectant avec votre email professionnel, nous vous mettons
						directement en contact avec les collègues de votre entreprise, grâce au nom
						de domaine.
					</ng-template>
				</nz-form-label>
				<nz-form-control
					nzHasFeedback
					nzValidatingTip="Vérification..."
					[nzValidateStatus]="emailControlStatus()"
					[nzErrorTip]="emailErrorsTpl"
				>
					<mas-private-domain-email formControlName="email"></mas-private-domain-email>
					<ng-template #emailErrorsTpl>
						<ng-container
							*ngIf="formGroup.get('email')?.hasError('emailDomainIsPublic')"
						>
							Les adresses email publiques ne sont pas autorisées 🙅‍♂️<br />
						</ng-container>
					</ng-template>
				</nz-form-control>
			</nz-form-item>
			<div
				fxLayout="column"
				fxLayoutAlign="center center"
				fxLayoutGap="20px"
				class="login-button-container"
			>
				<button
					nz-button
					type="submit"
					nzType="primary"
					nzSize="large"
					[disabled]="formGroup.invalid"
					[nzLoading]="loading"
					*ngIf="(submitState$ | async)?.status !== 'sent'; else authMailSentTpl"
				>
					Connexion
				</button>
				<nz-alert
					nzType="error"
					nzShowIcon
					[nzDescription]="authMailError"
					*ngIf="(submitState$ | async)?.status === 'error'"
				></nz-alert>
				<ng-template #authMailSentTpl>
					<nz-alert
						nzType="info"
						nzShowIcon
						nzIconType="mail"
						[nzDescription]="waitDescriptionTpl"
					></nz-alert>
					<ng-template #waitDescriptionTpl>
						Un email vous a été envoyé.
						<br />
						Il ne vous plus reste qu'à cliquer sur le lien pour vous connecter.
					</ng-template>
				</ng-template>
				<ng-template #authMailError>
					Une erreur est survenue, nous en somme désolé 🙁
				</ng-template>
			</div>
		</form>
	</nz-card>
</ng-template>
