$card-radius: 10px;
::ng-deep mas-signin {
	width: 100%;
}
@media (min-width: 425px) {
	::ng-deep mas-signin {
		max-width: min(90vw, 500px);
	}
}
.card {
	border-radius: $card-radius;
}
::ng-deep .card .ant-card-body {
	padding: 30px;
	border-radius: $card-radius;
	box-shadow: 1px 2px 12px 0 #e2e2e2;
}
@media (max-width: 424px) {
	.card {
		border-radius: 0;
	}
	::ng-deep .card .ant-card-body {
		border-radius: 0;
		box-shadow: none;
		padding: 30px 15px;
	}
}

.label {
	display: flex;
	justify-content: center;
	font-style: italic;
}
::ng-deep .label label {
	color: #737373;
	font-size: clamp(12px, 2vw, 14px);
}

.login-button-container {
	margin-top: 20px;
}
.login-button-container .login-button {
	font-weight: bold;
	text-transform: uppercase;
}
.reset-password-button {
	font-size: 12px;
}

@media (min-width: 768px) {
	//noinspection CssUnusedSymbol
	::ng-deep .labelTooltip {
		min-width: 500px;
	}
}

::ng-deep .ant-alert-error {
	font-weight: 500;
}

::ng-deep .ant-form-item {
	margin-bottom: 12px;
}
