<div
	class="bubble-container"
	[class.has-reactions]="message.reactions.like || message.reactions.dislike"
	[class.highlight-for-deletion]="highlightForDeletion"
	[class.highlight-for-report]="highlightForReport"
	[fxLayoutAlign]="isMine ? 'flex-end baseline' : 'flex-start baseline'"
>
	<div
		class="pending-write"
		[ngClass]="isMine ? 'mr1' : 'ml1'"
		[fxFlexOrder]="isMine ? 0 : 1"
		[@inOutAnimation]
		*ngIf="message.pendingWrite"
	>
		<i
			nz-icon
			nzType="field-time"
			nzTheme="outline"
			nz-tooltip="Un ou plusieurs messages en attente d'envoi"
		></i>
	</div>
	<div
		class="bubble"
		#bubble
		[class.animate]="isFresh"
		[style.background-color]="isMine ? undefined : color"
		[class.solo-emoji]="containsOnlyEmojis(message.content)"
		nz-popover
		[nzPopoverContent]="
			message.myReactions.like || message.myReactions.dislike
				? undefined
				: reactionsPopoverTpl
		"
		nzPopoverTrigger="hover"
		[nzPopoverPlacement]="isMine ? 'left' : 'right'"
		nzPopoverOverlayClassName="reactions-popover"
		[ngxVibration]="vibrationConfig.soft"
	>
		<div
			style="overflow-wrap: anywhere; word-break: break-word"
			[innerHTML]="renderedContent(message.content)"
		></div>
		<ng-template #reactionsPopoverTpl>
			<div class="reactions">
				<div
					class="reaction"
					*ngIf="!message.myReactions.dislike"
					(click)="toggleReaction(message, 'like')"
					[ngxVibration]="vibrationConfig.strong"
				>
					👍
				</div>
				<div
					class="reaction"
					*ngIf="!message.myReactions.like"
					(click)="toggleReaction(message, 'dislike')"
					[ngxVibration]="vibrationConfig.strong"
				>
					👎
				</div>
			</div>
		</ng-template>
	</div>
	<i
		nz-icon
		nzType="close-circle"
		nzTheme="twotone"
		*ngIf="isMine"
		class="delete-icon"
		nz-popconfirm
		nzPopconfirmTitle="Vous-vous vraiment supprimer ce message ?"
		(nzPopconfirmVisibleChange)="onDeletePopoverToggle($event)"
		nzOkText="Supprimer"
		nzOkType="danger"
		nzCancelText="Annuler"
		(nzOnConfirm)="delete()"
	></i>
	<i
		nz-icon
		nzType="exclamation-circle"
		nzTheme="twotone"
		twoToneColor="orange"
		*ngIf="!isMine && !message.moderated"
		class="report-icon"
		nz-popconfirm
		[nzPopconfirmTitle]="reportPopconfirmTitle"
		(nzPopconfirmVisibleChange)="onReportPopoverToggle($event)"
		nzOkText="Signaler..."
		nzPopconfirmOverlayClassName="report-popconfirm"
		nzCancelText="Annuler"
		(nzOnConfirm)="openReportModal()"
	></i>
	<ng-template #reportPopconfirmTitle>
		Si vous considérez ce message comme contraire au règles du chat,<br />
		vous pouvez le signaler.
	</ng-template>
	<div class="reaction-icons-container">
		<div
			class="reaction-icon"
			*ngIf="message.reactions.like as reactions"
			[nz-tooltip]="reactionTooltipTpl"
			nzTooltipOverlayClassName="reaction-tooltip"
			[class.i-did]="message.myReactions.like"
			(click)="message.myReactions.like ? toggleReaction(message, 'like') : undefined"
			[ngxVibration]="vibrationConfig.normal"
		>
			👍
			<div class="multiplier" *ngIf="reactions.length > 1">
				{{ reactions.length }}
			</div>
			<ng-template #reactionTooltipTpl>
				<span class="nowrap">
					<span style="padding-right: 3px"> 👍 </span>
					par
				</span>
				<span>
					{{ printReactionsNicknames(reactions) | async }}
				</span>
			</ng-template>
		</div>

		<div
			class="reaction-icon"
			*ngIf="message.reactions.dislike as reactions"
			[nz-tooltip]="reactionTooltipTpl"
			nzTooltipOverlayClassName="reaction-tooltip"
			[class.i-did]="message.myReactions.dislike"
			(click)="message.myReactions.dislike ? toggleReaction(message, 'dislike') : undefined"
			[ngxVibration]="vibrationConfig.normal"
		>
			👎
			<div class="multiplier" *ngIf="reactions.length > 1">
				{{ reactions.length }}
			</div>
			<ng-template #reactionTooltipTpl>
				<span class="nowrap">
					<span style="padding-right: 3px"> 👎 </span>
					par
				</span>
				<span>
					{{ printReactionsNicknames(reactions) | async }}
				</span>
			</ng-template>
		</div>
	</div>
</div>
