<form id="message-form" [formGroup]="newMessageForm" #form="ngForm" (ngSubmit)="sendMessage()">
	<div fxLayout="row" fxLayoutAlign="center flex-end">
		<nz-mention
			class="width-100"
			[nzSuggestions]="members"
			[nzValueWith]="mentionValueMappingFn"
			nzNotFoundContent="Aucun membre trouvé 🧐"
			#mention="nzMention"
			(nzOnSelect)="mentionSelectedSubject.next($event)"
			nzPlacement="top"
		>
			<textarea
				#newMessageInput
				nz-input
				nzSize="large"
				type="text"
				placeholder="Message"
				formControlName="message"
				nzAutosize
				id="message-input"
				(keydown.enter)="enterOnMessageSubject.next($event)"
				nzMentionTrigger
			></textarea>
			<ng-container *nzMentionSuggestion="let member">
				<span [style.color]="member.color">{{ member.nickname }}</span>
			</ng-container>
		</nz-mention>
		<button
			type="submit"
			nz-button
			nzSize="large"
			nzType="primary"
			id="send-button"
			[disabled]="(roomHasMultipleMembers$ | async) === false"
			[ngxVibration]="vibrationConfig.soft"
		>
			<i nz-icon nzType="send" nzTheme="outline"></i>
			Envoyer
		</button>
	</div>
</form>
