@media (max-width: 424px) {
	#message-form {
		padding: 0 10px 15px;
	}
}

::ng-deep #message-input.ant-input {
	min-height: 40px;
}
#send-button,
#emoji-picker-button {
	margin-left: 0.5em;
}

#emoji-picker-button {
	color: #949494;
	padding-left: 10px;
	padding-right: 10px;

	&:hover {
		color: #40a9ff;
	}
}

::ng-deep .emoji-picker-popover .ant-popover-inner-content {
	padding: 5px 5px 0 5px;
}
