@media (max-width: 424px) {
	#message-form {
		padding: 0 10px 15px;
	}
}

::ng-deep #message-input.ant-input {
	min-height: 40px;
}
#send-button,
#emoji-picker-button {
	margin-left: 0.5em;
}

#emoji-picker-button {
	color: #949494;
	padding-left: 10px;
	padding-right: 10px;

	&:hover {
		color: #40a9ff;
	}
}

::ng-deep .emoji-picker-popover .ant-popover-inner-content {
	padding: 5px 5px 0 5px;
}

.inactive-bar {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #ffc800;
	color: white;
	z-index: 2;
	width: 100%;
	font-size: 11px;
	text-align: center;
	padding: 5px 1em;

	animation: inactiveBarAnimation 0.25s forwards;
}

@keyframes inactiveBarAnimation {
	from {
		//transform: translateY(5px);
		top: 0;
		transform: scaleY(0);
	}
	to {
		//transform: translateY(0px);
		top: -13px;
		transform: scaleY(1);
	}
}
