<div class="header" *ngIf="remainingInvites$ | async">
	<div *ngIf="isFirstUser" class="pb1" style="font-weight: 200">
		Vous êtes le premier arrivé 🥇
	</div>
	<div class="title">Invitez donc quelques collègues à vous rejoindre !</div>
	<div class="subtitle">
		Nous nous occuperons de leur envoyer un message
		<u>sans mentionner votre email</u>
		🤫
	</div>
</div>
<ng-container *ngFor="let x of instances$ | async; let idx = index">
	<mas-invite
		[placeholder]="'Invitation ' + (idx + 1)"
		[domain]="(domain$ | async) || ''"
		(inviteSent)="onInviteSent()"
	></mas-invite>
</ng-container>
<nz-alert
	*ngIf="(remainingInvites$ | async) === 0"
	nzType="info"
	nzMessage="Votre salon a atteint la limite d'invitations disponibles."
	class="center"
></nz-alert>
<div class="center mt2">
	<div style="font-weight: 500" class="mb1">
		Vous pouvez {{ (remainingInvites$ | async) === 0 ? 'toujours' : 'aussi' }} parlez de
		Décompresso à vos collègues et autour de vous !
	</div>
	<div fxLayoutAlign="center center" fxLayoutGap="5px">
		<mas-facebook-button></mas-facebook-button>
		<mas-twitter-button></mas-twitter-button>
		<mas-linkedin-button></mas-linkedin-button>
		<mas-email-button></mas-email-button>
		<mas-whatsapp-button></mas-whatsapp-button>
	</div>
</div>
