<div class="header" *ngIf="remainingInvites$ | async">
	<div *ngIf="isFirstUser" class="pb1" style="font-weight: 200">
		Vous êtes le premier arrivé 🥇
	</div>
	<div class="title">Invitez donc quelques collègues à vous rejoindre !</div>
	<div class="subtitle">
		Nous nous occuperons de leur envoyer un message
		<u>sans révéler votre identité</u>
		🤫
	</div>
</div>
<ng-container *ngFor="let x of instances$ | async; let idx = index">
	<mas-invite
		[placeholder]="'Invitation ' + (idx + 1)"
		[domain]="(domain$ | async) || ''"
		(inviteSent)="onInviteSent()"
	></mas-invite>
</ng-container>
<nz-alert
	*ngIf="(remainingInvites$ | async) === 0"
	nzType="info"
	nzMessage="Votre salon a atteint la limite d'invitations disponibles."
	class="center"
></nz-alert>
<div class="center mt1" *ngIf="isFirstUser">
	<nz-alert
		nzType="info"
		nzMessage="Dès qu'un collègue aura rejoint le salon, le chat sera débloqué 🙂"
	></nz-alert>
</div>
<div class="center mt2">
	<div style="font-weight: 500" class="mb1">
		Vous pouvez {{ (remainingInvites$ | async) === 0 ? 'toujours' : 'aussi' }} parlez de
		Décompresso à vos collègues et autour de vous&nbsp;!
	</div>
	<div fxLayoutAlign="center center" fxLayoutGap="5px">
		<mas-facebook-button gaEvent="share" gaLabel="Facebook"></mas-facebook-button>
		<mas-twitter-button gaEvent="share" gaLabel="Twitter"></mas-twitter-button>
		<mas-linkedin-button gaEvent="share" gaLabel="LinkedIn"></mas-linkedin-button>
		<mas-email-button gaEvent="share" gaLabel="Email"></mas-email-button>
		<mas-whatsapp-button gaEvent="share" gaLabel="WhatsApp"></mas-whatsapp-button>
	</div>
</div>
