<div class="main-container xs-padding">
	<div class="page-title">Conditions Générales d'Utilisation</div>
	<div class="justify">
		<h2>Introduction</h2>
		<p>
			Notre mission est de connecter les membres d'une même organisation dans un salon de
			discussion instantanée qui leur est strictement réservé afin de recréer un lieu
			d'échange et de convivialité.<br />
			Les présentes conditions d'utilisation régissent l'accès et l'utilisation par vous-même
			des Services du site web et de l'application de Décompresso. En utilisant les Services
			de Décompresso, vous reconnaissez être lié(e) par les présentes conditions et également
			être soumis à notre politique de confidentialité.<br />
			Nous pouvons modifier nos CGU et notre politique de confidentialité de temps à autre. Si
			nous y apportons des modifications importantes, nous vous en informerons via nos
			Services, ou par d'autres moyens, pour vous permettre d'examiner les modifications. Nous
			reconnaissons que les modifications ne peuvent pas être rétroactives. Si vous vous
			opposez à l'une des modifications, vous pouvez procéder à la
			<em>clôture du compte</em> vous concernant. En continuant d'utiliser nos Services après
			la publication ou l'envoi d'un avis concernant les modifications que nous avons
			apportées aux présentes conditions, cela signifie que vous acceptez les conditions mises
			à jour à compter de leur date d'entrée en vigueur.
		</p>

		<h3>Définitions :</h3>
		<p>
			<u>Décompresso :</u> désigne l'ensemble des Services accessibles depuis le site web ou
			l'application appartenant au nom de domaine décompresso.fr.
		</p>
		<p>
			<u>Nous :</u> désigne les personnes qui ont contribué, contribuent et contribueront à la
			maintenance des Services de Décompresso et qui font partie de la société WonderWork SAS.
		</p>
		<p>
			<u>Services :</u> désigne les Services de discussion instantanée (plus communément
			appelé "chat") accessible depuis le site Internet et l'application de Décompresso.
		</p>
		<p>
			<u>Nom de domaine :</u> “Un nom de domaine (NDD en notation abrégée française ou DN pour
			Domain Name en anglais) est, dans le système de noms de domaine DNS, un identifiant de
			domaine internet. Un domaine est un ensemble d'ordinateurs reliés à Internet et
			possédant une caractéristique commune. Par exemple, un domaine tel que .fr est
			l'ensemble des ordinateurs hébergeant des activités pour des personnes ou des
			organisations qui se sont enregistrées auprès de l'Association française pour le nommage
			Internet en coopération (AFNIC) qui est le registre responsable du domaine de premier
			niveau .fr ; en général, ces personnes ou ces entreprises ont une certaine relation (qui
			peut être ténue dans certains cas) avec la France ; le domaine paris.fr est l'ensemble
			des ordinateurs hébergeant des activités pour la ville de Paris.” (<a
				href="https://fr.wikipedia.org/wiki/Nom_de_domaine"
				>https://fr.wikipedia.org/wiki/Nom_de_domaine</a
			>)
		</p>
		<p>
			<u>RGPD :</u> règlement général sur la protection des données ( voir notre politique de
			confidentialité)
		</p>

		<h2>Accès</h2>
		<p>
			En accédant aux Services, vous reconnaissez avoir lu et accepté les Conditions Générales
			d'Utilisation et la
			<a routerLink="." fragment="privacy">politique de confidentialité</a>. Pour pouvoir
			utiliser nos Services depuis le site Internet ou l'application, vous devez disposer du
			<strong>libre usage</strong> d'un ordinateur ou mobile configuré et paramétré aux fins
			d'accéder aux Services et avoir des connaissances techniques suffisantes vous permettant
			d'utiliser normalement le Service.<br />
			Pour des raisons de sécurité, nous nous réservons le droit d'accepter ou de refuser
			toute tentative de connexion.
		</p>
		<p>
			<strong
				>L'accès aux Services est réservé aux personnes physiques majeures uniquement,
				disposant d'une adresse mail personnelle dans un nom de domaine privé.
			</strong>
			Il est interdit d'utiliser une adresse mail impersonnelle ou partagée par plusieurs
			personnes (exemple : <i>info@nomdedomaine.fr</i>).
		</p>

		<h2>Compte et connexion</h2>
		<p>
			La création d'un compte se fait grâce à la création d'un mot de passe et une procédure
			de confirmation d'adresse e-mail. La création d'un compte octroie l'accès à un salon de
			discussion réservé exclusivement aux personnes ayant une adresse e-mail associée au même
			nom de domaine.<br />
			Il est attribué de façon aléatoire un pseudonyme pour chaque compte créé afin de
			préserver l'anonymat des utilisateurs.
		</p>
		<p>
			Le mot de passe est strictement personnel et confidentiel et ne doit ni être communiqué
			ni être partagé avec des tiers.<br />
			Dans un souci de sécurité et de transparence, des procédures de vérification d'e-mail
			pourront avoir lieu régulièrement.
		</p>

		<h2>Clôture du compte</h2>
		<p>
			Vous pouvez clôturer votre compte à tout moment en utilisant le bouton “supprimer mon
			compte” accessible dans le menu lorsque vous êtes connecté. En supprimant votre compte,
			vous perdez l'accès à l'historique de discussion (limité à la semaine civile par défaut
			dans nos Services). Concernant la suppression de vos données personnelles, elles sont
			soumises à notre politique de confidentialité.<br />
			Si vous créez un nouveau compte ultérieurement, vous ne pourrez pas prétendre à
			récupérer l'historique de vos discussions.
		</p>
		<p>
			Nous pouvons à tout moment procéder au blocage de votre compte, notamment dans le cadre
			de la modération, vous en serez alors prévenu par e-mail. Dans ce cas de figure, vous
			vous engagez à ne pas recréer de compte.
		</p>

		<h2>Obligations</h2>
		<p>
			Décompresso assure à distance et par voie électronique la fourniture de Services de
			discussions sur Internet. Décompresso ne recouvre pas l'organisation de rencontres, ni
			la fourniture d'un accès au réseau Internet, ni la fourniture d'un Service de
			communication électronique au public. Décompresso n'a pas pour obligation légale
			d'identifier l'Utilisateur lorsqu'il se connecte au Service.
		</p>

		<h2>Engagements utilisateurs</h2>
		<p>Vos contributions dans le cadre du Chat ne doivent en aucun cas :</p>
		<ul>
			<li>
				contenir des informations fausses ou erronées, contraires à la loi ou à l'objet du
				Chat; être utilisées à des fins commerciales et/ou lucratives (publicité,
				prospection, etc.).
			</li>
			<li>
				violer, détourner ou enfreindre les droits de nos Services, de nos utilisateurs ou
				d'autres personnes, y compris les droits à la vie privée, à l'image, de propriété
				intellectuelle ou autres droits exclusifs.
			</li>
			<li>
				porter atteinte ou être contraires à l'ordre public, aux bonnes mœurs, heurter la
				sensibilité des mineurs. Les propos tenus, les images, photos, vidéos et autres
				contenus postés devront être décents.
			</li>
			<li>
				porter atteinte à l'image et à la réputation d'une marque ou d'une quelconque
				personne morale.
			</li>
			<li>
				contenir des informations personnelles (adresse électronique, adresse postale,
				téléphone, etc.) permettant à un Utilisateur de contacter un autre Utilisateur sans
				utiliser le Chat.
			</li>
			<li>révéler son identité ou celle d'un autre Utilisateur.</li>
			<li>
				être dénigrantes, diffamatoires, injurieuses, obscènes, violentes, racistes,
				xénophobes, être utilisées à des fins de menaces ou de harcèlement, de quelque
				manière que ce soit, inciter à la haine, à la violence, au suicide, au racisme, à
				l'antisémitisme, à la xénophobie, à l'homophobie, faire l'apologie des crimes de
				guerre ou des crimes contre l'humanité, inciter à la discrimination d'une personne
				ou d'un groupe de personnes en raison de son appartenance à une ethnie, à une
				religion, à une race, ou du fait de son orientation sexuelle ou de son handicap ;
				présenter un caractère pornographique ou pédophile ; être utilisées à des fins de
				racolage ou de prostitution ; inciter à commettre un crime, un délit ou un acte de
				terrorisme, porter atteinte à la sécurité ou à l'intégrité d'un Etat ou d'un
				territoire.
			</li>
			<li>porter atteinte aux droits de propriété intellectuelle d'un tiers.</li>
			<li>
				insérer une adresse ou lien hypertexte renvoyant vers un site extérieur dont l'objet
				est contraire aux lois et règlements en vigueur, aux CGU ou qui porte atteinte aux
				droits de tiers.
			</li>
			<li>
				contenir sous quelque forme que ce soit des informations ou contenus ayant pour
				effet de diminuer, de désorganiser, d'empêcher l'utilisation normale du Chat,
				d'interrompre et/ou de ralentir la circulation normale des communications entre les
				Utilisateurs, telles que des logiciels, virus, bombes logiques, envoi massif de
				messages, etc.
			</li>
		</ul>

		<h2>Responsabilités</h2>
		<p>
			Nous utilisons toutes nos compétences et les précautions raisonnables pour fournir nos
			services et les garder dans un environnement sûr, sécurisé et sans erreurs.<br />
			En revanche, nous ne garantissons pas le fonctionnement sans interruption, retard, ni
			imperfection. Vous utilisez nos services à vos propres risques et sous réserve des
			exclusions de responsabilité suivantes :
		</p>
		<ul>
			<li>
				Nous fournissons nos services « en l'état » sans aucune garantie expresse ou
				implicite, nous ne garantissons pas l'absence de contrefaçon et l'absence de virus
				informatique ou autre code nuisible.
			</li>
			<li>
				Nous ne garantissons pas l'exactitude, l'exhaustivité, la complétude et la mise à
				jour des informations diffusées sur nos Services, ni la permanence de leur bon
				fonctionnement ou leur totale sécurité informatique.
			</li>
			<li>
				Nous ne contrôlons pas la manière ou la fréquence d'utilisation de nos services et
				n'en sommes pas responsables.
			</li>
			<li>
				Nous n'avons pas à contrôler les actions ou informations (y compris le contenu et
				lien vers d'autres sites) des personnes qui utilisent nos services et n'en sommes
				pas responsables.
			</li>
		</ul>
		<p>
			Vous nous dégagez de toute responsabilité en cas de réclamation, plainte, motif d'action
			ou contestation (collectivement « réclamation ») et de dommages, connus et inconnus,
			inhérents ou ayant trait de quelque manière que ce soit à toute réclamation que vous
			présentez à l'encontre de tout tiers.
		</p>

		<h2 id="privacy">Politique de confidentialité</h2>
		<p>
			Nous assurons nos services dans le respect absolu des règles de la protection des
			données. Pour cela nous avons choisi un mode de connexion qui nous permet de collecter
			le moins de données possible. Vous pouvez également retrouver l'ensemble des
			informations concernant vos droits sur vos données personnelles sur le site de la CNIL.
		</p>
		<h3>Utilisation des services de Décompresso</h3>
		<h4>Données collectées</h4>
		<p>
			Pour créer votre compte, nous collectons uniquement votre adresse e-mail associée à un
			nom de domaine privé. Celle-ci est ensuite associée dans votre compte à :
		</p>
		<ul>
			<li>un nom de domaine</li>
			<li>un pseudonyme unique dans le salon auquel vous avez accès</li>
			<li>une couleur</li>
			<li>une date de création du compte</li>
		</ul>
		<h4>Finalité</h4>
		<ul>
			<li>
				vous mettre en contact avec des personnes dépendant de la même structure que vous,
				définit par le nom de domaine auquel est attaché votre adresse e-mail.
			</li>
			<li>créer et gérer votre compte utilisateur</li>
			<li>
				répondre à vos demandes ou vous transmettre des informations liées à l'utilisation
				de nos services
			</li>
		</ul>
		<h4>Lieu de stockage des données</h4>
		<p>
			L'ensemble de vos données sont stockées en Europe via Google Cloud selon une méthode de
			ressource multirégionale (redondance au sein d'une même région).
		</p>
		<h4>Délai de rétention</h4>
		<p>
			Nous ne conservons vos données que pour une durée nécessaire et proportionnée à la
			finalité pour laquelle elles ont été collectées à savoir pendant toute la durée
			d'utilisation de nos Services et au maximum 36 mois après de la suppression de votre
			compte.
		</p>
		<h3>Analyse statistique</h3>
		<h4>Données collectées</h4>
		<ul>
			<li>Votre adresse IP qui est anonymisée</li>
		</ul>
		<h4>Finalité</h4>
		<ul>
			<li>
				Analyser le trafic pour améliorer le site et les fonctionnalités de nos services
			</li>
		</ul>
		<h4>Lieu de stockage des données</h4>
		<p>
			L'ensemble de vos données sont stockées via Google Analytics selon les règles de
			confidentialité de Google.
		</p>
		<h4>Délai de rétention</h4>
		<p>
			Nous conservons vos données pour une durée nécessaire et proportionnée à la finalité
			pour laquelle elles ont été collectées soit pour une durée maximale de 14 mois après
			votre dernière action.
		</p>
		<h4>Vos droits</h4>
		<p>
			Conformément au RGPD vous pouvez exercer vos droits d'accès, de rectification, de
			portabilité, d'effacement, d'opposition et de limitation sur vos données personnelles en
			nous contactant par mail à
			<a href="mailto:support@decompresso.fr">support@decompresso.fr</a> en précisant dans
			l'objet <strong>RGPD</strong>. Vous pouvez également ouvrir une réclamation auprès de la
			CNIL si vous estimez que vos droits n'ont pas été respectés.
		</p>

		<h2>Cookies</h2>
		<p>Les Services de Décompresso n'utilisent aucun cookie à des fins publicitaires 👍</p>
		<p>
			Lors de l'ouverture de notre site Internet, vous avez vu un message vous indiquant la
			présence de Cookies sur notre site. Ces fichiers « Cookies » ont pour objectif de
			collecter des informations relatives à votre navigation.
		</p>
		<p>
			Un cookie est un fichier dans lequel sont inscrites les informations relatives à votre
			navigation, et il est enregistré sur votre disque dur par votre navigateur. Ce petit
			fichier permet au serveur contenant le site de vous identifier et de vous reconnaître
			pendant la durée de vie du cookie.
		</p>
		<p>
			Les cookies techniques sont indispensables pour le bon fonctionnement du site internet.
			Leur suppression peut entrainer des difficultés de navigation.
		</p>
		<p>
			Les cookies de statistiques regroupent les informations de connexion telles que le
			nombre de visites du site, le temps moyen de visite, les pages les plus visitées, le
			navigateur, etc. Google Analytics, génère un cookie avec un identifiant unique qui
			collecte votre adresse IP afin de connaître la ville depuis laquelle vous vous connectez
			mais sans jamais connaître quel ordinateur ou quelle personne physique vous êtes
			vraiment.
		</p>

		<h2>Droit de la propriété intellectuelle</h2>
		<p>
			Sauf mention contraire, tous les éléments accessibles sur le site (textes, images,
			graphismes, logo, icônes, sons, logiciels, etc.) restent la propriété exclusive de leurs
			auteurs, en ce qui concerne les droits de propriété intellectuelle ou les droits
			d'usage. Toute reproduction, représentation, modification, publication, adaptation de
			tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est
			interdite, sauf autorisation écrite préalable de l'auteur ou utilisation à des fins
			personnelles. Toute exploitation non autorisée du site ou de l'un quelconque des
			éléments qu'il contient est considérée comme constitutive d'une contrefaçon et peut être
			poursuivie en justice.
		</p>

		<h2>Contact</h2>
		<p>
			Pour toute réclamation vous pouvez vous adresser à
			<a href="mailto:support@decompresso.fr">support@decompresso.fr</a>.
		</p>

		<h2>Mentions légales</h2>
		<p>
			Décompresso est un service de la société :<br />
			WonderWork<br />
			SAS au capital de dix mille euros (10 000€)<br />
			RCS d'Annecy - 893 535 294<br />
			N° TVA : FR30893535294<br />
			Siège social : 4 route d'Ecle - 74150 Rumilly<br />
			E-mail : <a href="mailto:support@decompresso.fr">support@decompresso.fr</a><br />
			Tél : 06 45 64 11 83
		</p>

		<h2>Hébergement :</h2>
		<p>
			Google Cloud<br />
			1600 Amphitheatre Parkway, Mountain View, California 94043, USA
		</p>
	</div>
</div>
