<nz-card>
	<div id="chat-content" #chatContent>
		<ng-container *ngIf="groupedMessages$ | async as groupedMessages">
			<ng-container *ngIf="!(isUserAlone$ | async); else memberAloneTpl">
				<ng-container *ngIf="groupedMessages.length; else noMessageTpl">
					<div class="top-reached">Vous avez atteint la limite de l'historique 🔭</div>
					<ng-container
						*ngFor="let group of groupedMessages; trackBy: trackByMessageGroupFn"
					>
						<div
							class="entry"
							[class.is-last]="group.isLast"
							[fxLayout]="group.isMine ? 'row-reverse' : 'row'"
							[ngClass]="{ mine: group.isMine, others: !group.isMine }"
						>
							<div class="infos">
								<div class="author">
									<span
										[style.color]="
											group.isMine ? undefined : group.authorUser?.color
										"
									>
										{{ group.isMine ? 'Moi' : group.authorUser?.nickname }}
									</span>
								</div>
								<div class="timestamp">
									{{ group.timestamp | timestampToDate: "EEE à HH'h'mm" }}
								</div>
							</div>
							<div class="bubble-group">
								<div
									class="bubble"
									*ngFor="
										let message of group.messages;
										trackBy: trackByMessageFn
									"
									[style.background-color]="
										group.isMine ? undefined : group.authorUser?.color
									"
									[textContent]="message.content"
									[class.solo-emoji]="containsOnlyEmojis(message.content)"
								></div>
							</div>
						</div>
					</ng-container>
					<nz-badge
						*ngIf="stickToChatBottom$ | async"
						nzStatus="processing"
						id="stick-chat"
					></nz-badge>
				</ng-container>
				<ng-template #noMessageTpl>
					<div class="p2">
						<nz-empty
							nzNotFoundContent="Le premier message n'attend que vous 🤗"
						></nz-empty>
					</div>
				</ng-template>
			</ng-container>
			<ng-template #memberAloneTpl>
				<div class="p2">
					<nz-empty
						nzNotFoundContent="On se sent un peu seul ici, non ? 🙁"
						nzNotFoundImage="simple"
						[nzNotFoundFooter]="invitationsTpl"
					></nz-empty>
					<ng-template #invitationsTpl>INVITATIONS</ng-template>
				</div>
			</ng-template>
		</ng-container>
	</div>
	<div>
		<form [formGroup]="newMessageForm" (ngSubmit)="sendMessage()">
			<div fxLayout="row">
				<textarea
					#newMessageInput
					nz-input
					nzSize="large"
					type="text"
					placeholder="Message"
					formControlName="message"
					nzAutosize
					(keydown.enter)="$event.preventDefault(); sendMessage()"
				></textarea>
				<button type="submit" nz-button nzSize="large" nzType="primary" id="send-button">
					<i nz-icon nzType="send" nzTheme="outline"></i>
					Envoyer
				</button>
			</div>
		</form>
	</div>
</nz-card>
