::ng-deep .ant-card {
	box-shadow: 1px 2px 12px 0 #e4e4e4;
}
@media (max-width: 424px) {
	::ng-deep .ant-card,
	::ng-deep .ant-card-body {
		border-radius: 0;
	}
}
::ng-deep #chat-card .ant-card-body {
	max-height: 65vh;
	display: flex;
	flex-direction: column;
}

@media (min-width: 425px) {
	::ng-deep #chat-card .ant-card {
		width: min(800px, 80vw);
	}
}
@media (max-width: 424px) {
	::ng-deep #chat-card .ant-card-body {
		width: 100vw;
		padding: 0;

		#chat-content {
			padding: 15px;
		}
	}
}
::ng-deep .ant-empty-description {
	font-weight: 500;
	font-size: 15px;
}
#chat-content {
	overflow-y: scroll;
	transition: all 0.5s;
}
.top-reached {
	font-size: 10px;
	color: darkgrey;
	text-align: center;
	margin-bottom: 10px;
}
.top-reached.hidden-opacity {
	margin: 0;
}
.entry {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	margin-bottom: 10px;
	transition: all 0.5s;

	.infos {
		display: flex;
		flex-direction: column;
	}
	&.mine {
		flex-direction: row-reverse;
		.infos {
			align-items: flex-end;
		}
	}
	&.others {
		flex-direction: row;
		.infos {
			align-items: flex-start;
		}
	}

	.bubble:not(:last-child) {
		margin-bottom: 2px;
	}
}

@media (max-width: 424px) {
	.entry {
		.infos {
			margin-bottom: 5px;

			.timestamp {
				display: none;
			}
			&:hover {
				.timestamp {
					display: block;
				}
			}
		}
		&.mine {
			flex-direction: column;
			align-items: flex-end;
			.infos {
				align-items: flex-end;
			}
		}
		&.others {
			flex-direction: column;
			.infos {
				align-items: flex-start;
			}
		}
	}
}

.author {
	padding: 0.25em 0.5em;
	font-size: 85%;
	background: rgb(216 216 216 / 10%);
	border: 1px solid rgb(216 216 216 / 20%);
	border-radius: 3px;

	.entry.mine & {
		margin-left: 10px;
	}
	.entry.others & {
		margin-right: 10px;
		&:after {
			content: ':';
		}
	}
}
.bubble-container {
	position: relative;

	&.has-reactions {
		margin-bottom: 10px;
	}

	.bubble {
		padding: 0.35em 1em;
		overflow: hidden;
		border-radius: 20px;
		white-space: pre-wrap;
		transition: box-shadow 0.25s, filter 0.25s;

		&:hover {
			box-shadow: 1px 2px 6px 0 #cacaca;
			filter: saturate(150%);
		}

		&.animate {
			animation: 0.5s cubic-bezier(0.2, 1.82, 0.44, 0.82) bubbleAnimation;
		}

		.entry.others & {
			color: white;
		}
		.entry.mine & {
			background-color: rgba(63, 135, 245, 0.1);
			color: #3f87f5;
		}

		&.solo-emoji {
			font-size: 1.5em;
			padding: 0.35em 0.75em;
		}
	}

	.reaction-icons-container {
		position: absolute;
		font-size: 12px;
		bottom: -0.75em;
		left: 0;
		width: auto;
		display: flex;
		z-index: 2;

		.entry.mine & {
			flex-direction: row-reverse;
		}

		.entry.others & .reaction-icon:not(:last-child) {
			margin-right: 10px;
		}
		.entry.mine & .reaction-icon:not(:last-child) {
			margin-left: 10px;
		}

		.reaction-icon {
			border-radius: 100%;
			background-color: #f2faff;
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			position: relative;
			/*box-shadow: 0px 2px 6px 0px #777777ad;*/
			box-shadow: 0 2px 3px 0 #9e9e9e8c;
			animation: 0.5s cubic-bezier(0.2, 1.82, 0.44, 0.82) reactionIconAnimation;

			&.i-did {
				background-color: dodgerblue;
				cursor: pointer;
			}

			.multiplier {
				white-space: nowrap;
				text-align: center;
				background: #216cb5;
				box-shadow: 0 0 0 1px #fff;
				/* border: 1px solid #ffffff; */
				border-radius: 100%;
				width: 13px;
				height: 12px;
				font-size: 8px;
				font-weight: 600;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				bottom: -0.8em;
				right: -1em;
			}
		}
	}
}

.bubble-group {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	.entry.others & {
		align-items: flex-start;
	}
	.entry.mine & {
		align-items: flex-end;
	}
}

.timestamp {
	font-size: 10px;
	color: grey;
	padding: 0 0.75em;
}

#stick-chat {
	position: absolute;
	top: -15px;
	left: -15px;
	animation: stickChatAnimation 8s 0ms forwards;
}

@keyframes stickChatAnimation {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes bubbleAnimation {
	from {
		transform: translateY(30px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes reactionIconAnimation {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

::ng-deep textarea.ant-input {
	min-height: 40px;
}
#send-button {
	margin-left: 0.5em;
}

::ng-deep .reactions-popover .ant-popover-inner-content {
	padding: 0;
	margin: 0;
	background: rgba(255, 255, 255, 0);
	button {
		border: none;
		&:hover {
			border: inherit !important;
		}
	}
	nz-button-group:hover button:not(:first-child),
	button:not(:first-child),
	button:hover:not(:first-child) {
		border-left: 1px solid #bdbdbd57;
	}
}
.reactions {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
	.reaction {
		padding: 2px 10px;
		cursor: pointer;
		transition: all 0.25s;
		font-size: 18px;

		&:hover {
			background-color: #f2faff;
			filter: saturate(150%);
		}

		$border-radius: 5px;
		&:first-child {
			border-radius: $border-radius 0 0 $border-radius;
		}
		&:last-child {
			border-radius: 0 $border-radius $border-radius 0 0;
		}
	}

	.reaction*:not(:first-child) {
		border-left: 1px solid #bdbdbd57;
	}
}
::ng-deep .reaction-tooltip {
	font-size: 10px;
}
