::ng-deep .ant-card {
	box-shadow: 1px 2px 12px 0 #e4e4e4;
}
@media (max-width: 424px) {
	::ng-deep .ant-card,
	::ng-deep .ant-card-body {
		border-radius: 0;
	}
}
::ng-deep #chat-card .ant-card-body {
	max-height: 65vh;
	display: flex;
	flex-direction: column;
}

@media (min-width: 425px) {
	::ng-deep #chat-card .ant-card {
		width: min(800px, 80vw);
	}
}
@media (max-width: 425px) {
	::ng-deep #chat-card .ant-card-body {
		width: 100vw;
	}
}
::ng-deep .ant-empty-description {
	font-weight: 500;
	font-size: 15px;
}
#chat-content {
	overflow-y: scroll;
	transition: all 0.5s;
}
.top-reached {
	font-size: 10px;
	color: darkgrey;
	text-align: center;
	margin-bottom: 10px;
}
.top-reached.hidden-opacity {
	margin: 0;
}
.entry {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	margin-bottom: 10px;
	transition: all 0.5s;

	.infos {
		display: flex;
		flex-direction: column;
	}
	&.mine {
		flex-direction: row-reverse;
		.infos {
			align-items: flex-end;
		}
	}
	&.others {
		flex-direction: row;
		.infos {
			align-items: flex-start;
		}
	}

	.bubble:not(:last-child) {
		margin-bottom: 2px;
	}
}

@media (max-width: 424px) {
	.entry {
		.infos {
			margin-bottom: 5px;

			.timestamp {
				display: none;
			}
			&:hover {
				.timestamp {
					display: block;
				}
			}
		}
		&.mine {
			flex-direction: column;
			align-items: flex-end;
			.infos {
				align-items: flex-end;
			}
		}
		&.others {
			flex-direction: column;
			.infos {
				align-items: flex-start;
			}
		}
	}
}

.author {
	padding: 0.25em 0.5em;
	font-size: 85%;
	background: rgb(216 216 216 / 10%);
	border: 1px solid rgb(216 216 216 / 20%);
	border-radius: 3px;

	.entry.mine & {
		margin-left: 10px;
	}
	.entry.others & {
		margin-right: 10px;
		&:after {
			content: ':';
		}
	}
}
.bubble {
	padding: 0.35em 1em;
	overflow: hidden;
	border-radius: 20px;
	white-space: pre-wrap;

	&.animate {
		animation: 0.5s cubic-bezier(0.2, 1.82, 0.44, 0.82) bubbleAnimation;
	}

	.entry.others & {
		/*background: #ededed;
		color: #53535f;*/
		color: white; /**/
	}
	.entry.mine & {
		background-color: rgba(63, 135, 245, 0.1);
		color: #3f87f5;
	}

	&.solo-emoji {
		font-size: 1.5em;
		padding: 0.35em 0.75em;
	}
}

.bubble-group {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	.entry.others & {
		align-items: flex-start;
	}
	.entry.mine & {
		align-items: flex-end;
	}
}

.timestamp {
	font-size: 10px;
	color: grey;
	padding: 0 0.75em;
}

#stick-chat {
	position: absolute;
	top: -15px;
	left: -15px;
	animation: stickChatAnimation 8s 0ms forwards;
}

@keyframes stickChatAnimation {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes bubbleAnimation {
	from {
		transform: translateY(30px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

::ng-deep textarea.ant-input {
	min-height: 40px;
}
#send-button {
	margin-left: 0.5em;
}
