::ng-deep #chat-card {
	position: relative;
}
::ng-deep .ant-card {
	box-shadow: 1px 2px 12px 0 #e4e4e4;
}
::ng-deep mas-purge-notification {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
::ng-deep #chat-card .ant-card-body {
	display: flex;
	flex-direction: column;

	#chat-content {
		max-height: 45vh;
		@media (min-height: 800px) and (max-height: 1000px) {
			& {
				max-height: 55vh;
			}
		}
		@media (min-height: 1000px) {
			& {
				max-height: 60vh;
			}
		}
	}
}

@media (min-width: 425px) {
	::ng-deep #chat-card .ant-card {
		width: min(800px, 80vw);
	}
}
@media (max-width: 424px) {
	$headerHeight: 90px;
	$pageHeaderHeight: 50px;
	$chatFooterHeight: 55px;
	$viewportHeight: calc(var(--vh, 1vh) * 100);
	$chatContentHeight: calc(
		#{$viewportHeight} - #{$headerHeight} - #{$pageHeaderHeight} - #{$chatFooterHeight}
	);
	::ng-deep .fixed-header {
		height: $headerHeight;
		margin: 0 !important;
		padding: 0 100%;
		position: fixed;
		z-index: 10;
		background-color: #f7f7f9;
	}
	::ng-deep .fixed-page-header {
		height: $pageHeaderHeight;
		position: fixed;
		margin-top: 90px;
		z-index: 10;
		background-color: #f7f7f9;
		width: 100%;
	}
	::ng-deep mas-purge-notification {
		top: $headerHeight + $pageHeaderHeight;
	}
	::ng-deep #chat-card {
		padding-top: 140px !important;
	}
	::ng-deep .ant-card,
	::ng-deep .ant-card-body {
		border-radius: 0;
	}
	::ng-deep #chat-card > .ant-card-body {
		width: 100vw;
		padding: 0;

		#chat-content {
			height: $chatContentHeight;
			max-height: $chatContentHeight;
			padding: 15px;
			flex-grow: 1;
		}
	}
}
::ng-deep .ant-empty-description {
	font-weight: 500;
	font-size: 15px;
}
#chat-content {
	overflow-y: scroll;
	transition: all 0.5s;
	font-size: 16px;
}
.top-reached {
	font-size: 10px;
	color: darkgrey;
	text-align: center;
	margin-bottom: 10px;
}
.top-reached.hidden-opacity {
	margin: 0;
}

#stick-chat {
	position: absolute;
	top: -15px;
	left: -15px;
	animation: stickChatAnimation 5s 0ms forwards;
}

.new-message-badge-container {
	position: absolute;
	height: 45px;
	top: -45px;
	width: 100%;

	& .ant-tag {
		margin: 0;
		border-radius: 20px;
		cursor: pointer;
		box-shadow: 0 0 5px 0 #ffffff7a;
		animation: 0.25s ease-out bubbleAnimation;

		&:hover {
			opacity: 1;
		}
	}
}

.invitations-card {
	margin: auto;
	margin-bottom: 30px;
	padding: 10px;
	width: 100% !important;
	max-width: 650px;
	background-color: #f6ffed;
	border: 1px solid #b7eb8f;

	::ng-deep .ant-card-body {
		padding: 16px 24px;
	}
}

@media (max-width: 424px) {
	.invitations-card {
		::ng-deep .ant-card-body {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

#chat-footer {
	position: relative;
	box-shadow: 0px -5px 5px 5px #ffffff;
}

.loading-container {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 50vh;

	.spinner {
		font-size: 48px;
		animation: fadein 1s linear;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes stickChatAnimation {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
