<nz-card>
	<div id="chat-content" #chatContent>
		<ng-container *ngIf="messagesWithUsers$ | async as messages">
			<ng-container *ngIf="messages.length; else noMessageTpl">
				<div class="top-reached">Vous avez atteint la limite de l'historique 🔭</div>
				<ng-container *ngFor="let message of messages">
					<div
						class="entry"
						[class.is-last]="message.isLast"
						[fxLayout]="message.isMine ? 'row-reverse' : 'row'"
						[ngClass]="{ mine: message.isMine, others: !message.isMine }"
					>
						<div class="infos">
							<div class="author">
								<span
									[style.color]="
										message.isMine ? undefined : message.authorUser?.color
									"
								>
									{{ message.isMine ? 'Moi' : message.authorUser?.nickname }}
								</span>
							</div>
							<div class="timestamp">
								{{ message.createdAt | timestampToDate: "EEE à HH'h'mm" }}
							</div>
						</div>
						<div
							class="bubble"
							[style.background-color]="
								message.isMine ? undefined : message.authorUser?.color
							"
						>
							{{ message.content }}
						</div>
					</div>
				</ng-container>
			</ng-container>
			<ng-template #noMessageTpl>
				<div class="p2">
					<nz-empty
						nzNotFoundContent="On se sent un peu seul ici, non ? 🙁"
						[nzNotFoundFooter]="invitationsTpl"
					></nz-empty>
					<ng-template #invitationsTpl>INVITATIONS</ng-template>
				</div>
			</ng-template>
		</ng-container>
	</div>
	<div>
		<form [formGroup]="newMessageForm" (ngSubmit)="sendMessage()">
			<div fxLayout="row">
				<nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
					<input
						#newMessageInput
						nz-input
						type="text"
						placeholder="Message"
						formControlName="message"
					/>
				</nz-input-group>
				<ng-template #suffixButton>
					<button type="submit" nz-button nzSize="large" nzType="primary">
						<i nz-icon nzType="send" nzTheme="outline"></i>
						Envoyer
					</button>
				</ng-template>
			</div>
		</form>
	</div>
</nz-card>
