#links,
#footer {
	width: 100%;
	transition: all 0.25s;
}
#links > button:not(:last-child) {
	margin-right: 10px;
}

.flag svg {
	vertical-align: middle;
}

.container.space-for-cookies-consent {
	margin-bottom: 105px;
}

.menu {
	overflow-x: scroll;
	display: flex;
	flex-wrap: nowrap;
	max-width: 100vw;
	padding: 0 10px 5px 10px;
}
::-webkit-scrollbar {
	width: 0;
	background: transparent;
}
