<div
	class="container"
	fxLayout="column"
	fxLayoutAlign="start center"
	[class.space-for-cookies-consent]="(cookiesConsentService.accepted$ | async) === false"
>
	<ul class="menu" nz-menu nzMode="horizontal">
		<li
			nz-menu-item
			nzMatchRouter
			*ngIf="(authService.isAuthenticated$ | async) || router.url !== '/'"
		>
			<i
				nz-icon
				[nzType]="(authService.isAuthenticated$ | async) ? 'message' : 'home'"
				nzTheme="outline"
			></i>
			<a [routerLink]="['/', (authService.isAuthenticated$ | async) ? 'room' : '']">
				{{ (authService.isAuthenticated$ | async) ? 'Salon' : 'Accueil' }}
			</a>
		</li>
		<li nz-menu-item nzMatchRouter>
			<i nz-icon nzType="user" nzTheme="outline"></i>
			<a [routerLink]="['/', 'about']">Qui sommes-nous</a>
		</li>
		<li nz-menu-item nzMatchRouter>
			<i nz-icon nzType="question-circle" nzTheme="outline"></i>
			<a [routerLink]="['/', 'help']">FAQ</a>
		</li>
		<li nz-menu-item nzMatchRouter>
			<i nz-icon nzType="star" nzTheme="outline"></i>
			<a [routerLink]="['/', '🤩']">Ils parlent de nous</a>
		</li>
		<li nz-menu-item nzMatchRouter>
			<i nz-icon nzType="read" nzTheme="outline"></i>
			<a [routerLink]="['/', 'cgu']">CGU</a>
		</li>
	</ul>
	<div
		fxFlex="0 0 50px"
		id="footer"
		fxLayoutAlign="center center"
		*ngIf="!(layoutService.chatLayout$ | async)"
	>
		<div fxLayoutAlign="center baseline" fxLayoutGap="1em" style="color: #bbbbbb">
			<div>
				Fait avec ♥ à
				<span class="nowrap">
					Annecy
					<i nz-icon class="flag">
						<svg>
							<rect width="900" height="600" fill="#ED2939" />
							<rect width="600" height="600" fill="#fff" />
							<rect width="300" height="600" fill="#002395" />
						</svg>
					</i>
				</span>
			</div>
			<div fxHide.lt-sm style="font-family: 'Carter One', serif">Décompresso</div>
			<div class="copyright">© 2020-{{ now | date: 'yyyy' }}</div>
		</div>
	</div>
</div>
