#header {
	margin: max(1rem, 2.5vh) 1rem;
	color: #231f20;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#header:hover {
	color: #ffa500;
}
#logo {
	height: 100px;
	transition: filter 0.5s, height 0.5s cubic-bezier(0.2, 0.7, 0.32, 1),
		width 0.5s cubic-bezier(0.2, 0.7, 0.32, 1);
	margin: 0 1em;
}
#header:hover #logo {
	filter: invert(54%) sepia(84%) saturate(511%) hue-rotate(358deg) brightness(107%) contrast(107%);
}

#footer {
	width: 100%;
}

#title {
	font-size: 40px;
	font-family: 'Carter One', cursive;
	transition: all 0.5s ease-out;
}

/* When the height is limited, compact the layout */
@media (max-height: 600px) {
	#header {
		flex-direction: row;
		align-items: flex-start;
	}
	#logo {
		height: 40px;
	}
	#title {
		font-size: 30px;
	}
	#footer {
		flex: 0 0 50px !important;
		max-height: 50px !important;
		min-height: 50px !important;
	}
}
/* Or when the compact mode is explicitly set */
.compact {
	#header {
		flex-direction: row;
		align-items: flex-start;
	}
	#logo {
		height: 40px;
	}
	#title {
		font-size: 30px;
	}
	#footer {
		flex: 0 0 50px !important;
		max-height: 50px !important;
		min-height: 50px !important;
	}
}

.main-container {
	width: 100%;
}
@media (min-width: 425px) {
	.main-container {
		padding-left: 7.5vw;
		padding-right: 7.5vw;
	}
}

#user-drawer-button {
	position: fixed;
	top: 20px;
	left: 10px;
	transition: width 0.3s;
	width: 46px;

	.button-text {
		display: none;
		margin-left: 0.5em;
	}
}
#user-drawer-button:hover {
	width: 130px;
}
#user-drawer-button:hover .button-text {
	display: block;
	animation: fadein 0.3s ease-out;
}

@keyframes fadein {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0;
	}
	50% {
		display: block;
		opacity: 0.25;
	}
	100% {
		display: block;
		opacity: 1;
	}
}
