#header {
	margin: max(1rem, 2.5vh) 1rem;
	color: #231f20;
}
#header:hover {
	color: #ffa500;
}
#logo {
	transition: filter 0.5s;
}
#header:hover #logo {
	filter: invert(54%) sepia(84%) saturate(511%) hue-rotate(358deg) brightness(107%) contrast(107%);
}

#footer {
	width: 100%;
}

#logo {
	height: 100px;
}
#title {
	font-size: 40px;
	font-family: 'Carter One', cursive;
}

.main-container {
	width: 100%;
}
@media (min-width: 425px) {
	.main-container {
		padding-left: 7.5vw;
		padding-right: 7.5vw;
	}
}

.user-infos {
	position: fixed;
	bottom: -5px;
	left: -5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.nickname {
	font-style: oblique;
	font-weight: bolder;
	/*margin-bottom: 5px;*/
}

::ng-deep .user-infos .ant-card-body {
	padding: 10px;
}
