<ng-container *ngIf="authService.isAuthenticated$ | async">
	<button
		id="user-drawer-button"
		nz-button
		(click)="layoutService.showUserDrawer = !layoutService.showUserDrawer"
		fxLayoutAlign="center center"
	>
		<i nz-icon nzType="menu" nzTheme="outline"></i>
		<span class="button-text">Mon compte</span>
	</button>

	<mas-user-drawer [visible]="layoutService.showUserDrawer"></mas-user-drawer>
</ng-container>
<div style="min-height: 100%" fxLayout="column" fxLayoutAlign="start center">
	<a id="header" routerLink="/" fxFlex="none" [ngxVibration]="[25, 50, 25]">
		<img src="assets/logo.svg" alt="Logo" id="logo" />
		<div id="title">Mascarade</div>
	</a>
	<div class="main-container" fxFlex="grow" fxLayout="column">
		<router-outlet></router-outlet>
	</div>
	<div fxFlex="0 0 75px" id="footer" fxLayoutAlign="center center">
		<div fxLayoutAlign="center" style="color: #bbbbbb">
			<div style="margin: 0 1em">Fait avec ♥ à Annecy 🇫🇷</div>
			<div class="copyright">© 2020-{{ now | date: 'yyyy' }}</div>
		</div>
	</div>
</div>
