#header {
	margin: max(1rem, 2.5vh) 1rem;
	color: #231f20;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#header:hover {
	color: #ffa500;
}
#logo {
	height: 100px;
	transition: filter 0.5s, height 0.35s cubic-bezier(0.2, 0.7, 0.32, 1),
		width 0.35s cubic-bezier(0.2, 0.7, 0.32, 1);
	margin: 0 1em;
}
#header:hover #logo {
	filter: invert(54%) sepia(84%) saturate(511%) hue-rotate(358deg) brightness(107%) contrast(107%);
}

.offline-banner {
	animation: fadeInFromTop 500ms 0ms forwards;
	::ng-deep .ant-alert-message {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		color: #faad14;
		font-weight: 500;

		i {
			font-size: 22px;
			margin-right: 0.25em;
		}
	}
}

#links,
#footer {
	width: 100%;
	transition: all 0.25s;
}

::ng-deep .ant-menu {
	background: none;
}

#links > button:not(:last-child) {
	margin-right: 10px;
}

#title {
	display: flex;
	flex-direction: column;
	width: 125%;
	justify-content: center;
	font-size: 38px;
	transition: all 0.35s cubic-bezier(0.2, 0.7, 0.32, 1), color 0s;

	font-family: 'Carter One', serif;

	#app-name {
		line-height: 1;
		margin-top: 0.3em;
		.first-letter {
			font-size: 1.125em;
		}
	}
	#room-name {
		font-size: 0.75em;

		line-height: 1;
		color: dodgerblue;
		align-self: flex-end;

		animation: fadeInFromTop 500ms 0ms forwards;
	}
}

/* When the height is limited, compact the layout */
@mixin compact {
	#header {
		flex-direction: row;
		align-items: flex-end;
	}
	#logo {
		height: 40px;
	}
	#title {
		width: inherit;
		font-size: 30px;
		#app-name {
			margin-top: 0;
		}
		#room-name {
			/*font-size: clamp(12px, 2vw, 0.75em);*/
			align-self: inherit;
			white-space: nowrap;
			margin-left: 20%;
		}
	}
}
@media (max-height: 600px) {
	@include compact;
}
.compact {
	@include compact;
}
/****/

.main-container {
	width: 100%;
}
@media (min-width: 425px) {
	.main-container {
		padding-left: 7.5vw;
		padding-right: 7.5vw;
	}
}
@media (min-width: 1600px) {
	.main-container {
		width: 1600px;
		padding: 0 120px;
		margin: auto;
	}
}

#user-drawer-button {
	position: fixed;
	top: 20px;
	left: 10px;
	transition: width 0.3s;
	z-index: 11;
	width: 46px;

	.button-text {
		display: none;
		margin-left: 0.5em;
	}
}
#user-drawer-button:hover {
	width: 130px;
}
#user-drawer-button:hover .button-text {
	display: block;
	animation: fadein 0.3s ease-out;
}

@media (max-width: 424px) {
	#user-drawer-button {
		left: -5px;
	}
}

::ng-deep .menu .ant-menu-item {
	margin: 0 clamp(10px, 2vw, 20px) !important;
	font-size: clamp(10px, 3vw, 14px) !important;
}
.flag svg {
	vertical-align: middle;
}

@keyframes fadein {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0;
	}
	50% {
		display: block;
		opacity: 0.25;
	}
	100% {
		display: block;
		opacity: 1;
	}
}
@keyframes fadeInFromTop {
	0% {
		transform: translateY(-30px);
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
