{{> header }}

<div style="padding: 20px; font-size: 16px;">
	<div style="text-align: center; max-width: 750px; margin: auto;">
		<h3>Un collègue de <i>{{ domain }}</i> vous a invité à le rejoindre dans le chat Décompresso !</h3>
		<p>
			Décompresso est le chat qui réinvente la pause café.<br/>
			Seuls vos <b>collègues</b> peuvent participer, et tout le monde reste <b>anonyme</b> pour pimenter le tout ! 🌶
		</p>
	</div>
	<div style="text-align: center; padding: 30px 0;">
		<a style="
			margin: 20px;
			padding: .75em 1.25em;
			font-size: 20px;
			background-color: #1e90ff;
			color: white;
			border-radius: 5px;
			text-decoration: none;
			font-weight: bold;"
		   	href="https://www.decompresso.fr/?utm_source=invite&utm_medium=email"
		>
			Découvrir Décompresso
		</a>
	</div>
</div>

<div style="
    background-color: #e1f7ff;
    color: #5f6368;
    padding: 20px;
    border-radius: 0 0 10px 10px;">
	<div style="text-align: center">
		Vous recevez ce message parce qu'une personne du domaine <i>{{ domain }}</i> vous a invité a rejoindre Décompresso.<br/>
		Votre adresse email ni aucune autre donnée personnelle vous concernant ne sont conservées par Décompresso sans inscription explicite de votre part.
		<br/><br/>
		<a href="https://www.decompresso.fr/?utm_source=invite&utm_medium=email">www.decompresso.fr</a>
	</div>
</div>

