<div fxLayoutAlign="center center" style="height: 100%">
	<nz-spin
		nzSimple
		nzSize="large"
		nzTip="Authentification en cours..."
		[nzIndicator]="indicatorTemplate"
		*ngIf="!(loginOrCreateAccount$ | async)"
	></nz-spin>
	<ng-template #indicatorTemplate><i nz-icon nzType="loading" class="spinner"></i></ng-template>
	<ng-container *ngIf="loginOrCreateAccount$ | async as authResult">
		<ng-container *ngIf="authResult?.authType === 'created' && authResult.user">
			<div fxLayout="column" fxLayoutAlign="center center" class="result">
				<i nz-icon nzType="check-circle" nzTheme="fill" class="main-icon"></i>
				<div class="welcome">Bienvenue dans le salon</div>
				<h1 nz-typography class="domain">{{ authResult.user.domain }}</h1>
				<p class="whoami">
					Retrouvez vos collègues de bureau et chattez avec eux incognito avec votre
					super&nbsp;pseudo&nbsp;:
					<span
						class="nickname"
						[style.color]="authResult.user.color"
						[roughNotation]="{
							type: 'underline',
							animationDelay: 1000,
							iterations: 1,
							animationDuration: 2500,
							color: authResult.user.color,
							padding: 5
						}"
						nz-tooltip
						nzTooltipTitle="👌"
						nzTooltipColor="#ffffff"
					>
						{{ selectedNickname || authResult.user.nickname }}
					</span>
				</p>
				<div>
					<button
						nz-button
						nzType="default"
						(click)="showNicknames = !showNicknames"
						*ngIf="!showNicknames"
					>
						Envie d'un autre pseudo ?
					</button>
					<ng-container *ngIf="showNicknames">
						<ng-container
							*ngIf="nicknames$ | async as nicknames; else loadingNicknameTpl"
						>
							<h3 class="m0">Je choisis mon pseudo 👇</h3>
							<nz-button-group nzSize="large" class="vertical p2">
								<button
									nz-button
									*ngFor="let nickname of nicknames"
									(click)="selectNickname(nickname)"
									[nzLoading]="loadingNickname === nickname"
									gaEvent="change_nickname"
									gaCategory="sign_up"
								>
									<i
										nz-icon
										nzType="check-circle"
										nzTheme="twotone"
										nzTwotoneColor="#52c41a"
										*ngIf="nickname === selectedNickname"
									></i>
									{{ nickname }}
								</button>
							</nz-button-group>
						</ng-container>
						<ng-template #loadingNicknameTpl>
							<nz-spin
								class="my2"
								nzSimple
								nzTip="Chargement de nouveaux pseudos..."
							></nz-spin>
						</ng-template>
					</ng-container>
				</div>
				<div class="px3 my3" fxFlexAlign="center center">
					<nz-alert
						nzType="success"
						nzMessage="Tout est prêt pour votre arrivée !"
						nzShowIcon
						nzIconType="safety-certificate"
					></nz-alert>
				</div>
				<button
					nz-button
					nzType="primary"
					nzSize="large"
					[routerLink]="'/room/' + authResult.user.domain"
					*ngIf="authResult.authUser.emailVerified"
				>
					<i nz-icon nzType="comment" nzTheme="outline"></i>
					Accéder au salon
				</button>
			</div>
		</ng-container>
		<ng-container *ngIf="authResult?.authType === 'pendingVerification'">
			<div
				fxLayout="column"
				fxLayoutAlign="center center"
				class="result pending-verification"
			>
				<i nz-icon nzType="idcard" nzTheme="fill" class="main-icon"></i>
				<div class="welcome">Bienvenue sur Décompresso 😊</div>
				<div class="notice">
					Avant de pouvoir rejoindre vos collègues dans le chat, nous devons nous assurer
					que vous faites bien partie de
					<span class="domain">{{ domainFromEmail(authResult.authUser.email!) }}</span>
				</div>
				<div class="my3" fxFlexAlign="center center">
					<nz-alert
						*ngIf="!(isEmailVerified$ | async); else verificationDoneTpl"
						nzType="info"
						nzMessage="Un email de vérification vous a été envoyé"
						nzDescription="Afin de certifier votre identité, merci de cliquer dans le lien présent dans ce mail pour accéder au salon."
						nzShowIcon
						nzIconType="mail"
					></nz-alert>
					<ng-template #verificationDoneTpl>
						<nz-alert
							nzType="success"
							nzMessage="Email vérifié ! 👍"
							nzDescription="Vous pouvez fermer cette page."
							nzShowIcon
						></nz-alert>
					</ng-template>
				</div>
			</div>
		</ng-container>
	</ng-container>
</div>
