::ng-deep .ant-spin {
	font-size: 15px;
	font-style: italic;
}
.spinner {
	font-size: 64px;
	margin-bottom: 20px;
}

.result {
	max-width: 460px;
	margin-top: 1em;

	.main-icon {
		color: #52c41a;
		font-size: 72px;
		margin-bottom: 24px;
	}
	.welcome {
		font-size: 18px;
	}
	.domain {
		white-space: nowrap;
	}
	.whoami {
		text-align: center;
		font-size: 1.1em;
	}
	.nickname {
		font-size: 22px;
		margin: auto 5px;
	}

	&.pending-verification {
		.main-icon {
			color: dodgerblue;
		}
		.welcome {
			font-size: 32px;
			font-weight: 600;
		}
		.notice {
			font-size: 18px;
			text-align: center;
			color: dodgerblue;
			margin: 1em 0;
		}
		.domain {
			font-weight: bold;
		}
	}
}
.nickname-list {
	border-radius: 5px;
	background-color: #f9fbff;
	border: 1px solid #585858;
	font-size: large;
	font-weight: bold;
	text-align: center;

	& > * {
		display: flex;
		justify-content: center;
		align-content: center;
		transition: background-color 0.5s;
		padding: 0.33em 1em;

		&:hover {
			background-color: #ddf0ff;
			color: #40a9ff;
			cursor: pointer;
		}
	}
}
