<div class="page-title">Les règles du&nbsp;salon</div>

<h2>Ton collègue tu respecteras</h2>
<p>
	Non aux insultes, les propos vulgaires, diffamatoires, racistes... et toute forme de
	harcèlement. 🕊
</p>

<h2>Ton anonymat tu préserveras</h2>
<p>
	Pas de diffusion de coordonnées ou d'identité personnelle, que ce soit
	<strong>les vôtres comme celles des autres</strong>. 👻
</p>

<h2>Ta langue tu honoreras</h2>
<p>Faisons-nous tous bien comprendre en parlant notre bon vieux français.&nbsp;🇫🇷</p>

<h2>Ton contenu tu surveilleras</h2>
<p>Faites de votre salon un endroit convivial ! ☀️</p>
<p>
	Soyez vigilants aux liens que vous pourriez partager et qui pourraient porter sur des sujets
	bannis par les conditions générales d'utilisation.
</p>
<p>
	Si vous estimez qu'un message pourrait choquer ou ne correspond pas aux règles de bonne
	conduite, nous vous invitons à le signaler et nous prendrons en charge sa modération. 🧹
</p>

<nz-divider> </nz-divider>

<h2>Bon à savoir</h2>
<figure>
	<blockquote>
		<p>
			Pour pas te faire pécho, pense à stocker les e-mails Décompresso dans un dossier
			personnel de ta boîte mail pro
		</p>
	</blockquote>
	<figcaption>Al Pucino</figcaption>
</figure>
