<ng-container *ngIf="roomService.members$ | async as members; else loadingTpl">
	<nz-list nzBordered nzSize="small" class="members-list">
		<nz-list-header class="center">
			<strong>
				{{ members.length }}
				{{ members.length | i18nPlural: { '=1': 'membre', other: 'membres' } }}
			</strong>
		</nz-list-header>
		<nz-list-item *ngFor="let member of members; trackBy: trackByMemberFn">
			<div>
				<ng-container
					*ngIf="
						member.nickname === (userService.user$ | async)?.nickname;
						else connectionStatusTpl
					"
				>
					<i
						nz-icon
						nzType="smile"
						nzTheme="twotone"
						nz-tooltip="C'est moi !"
						nzTooltipColor="blue"
					></i>
				</ng-container>
				<ng-template #connectionStatusTpl>
					<nz-badge
						[nzStatus]="member.state === 'online' ? 'success' : 'error'"
						[nz-tooltip]="connectionStatusTooltipTpl"
						[nzTooltipColor]="member.state === 'online' ? '#52c41a' : null"
					></nz-badge>
					<ng-template #connectionStatusTooltipTpl>
						<ng-container *ngIf="member.state === 'online'; else lastSeenTpl">
							Connecté
						</ng-container>
						<ng-template #lastSeenTpl>
							Déconnecté
							{{ member.last_state_update | timestampToDate: 'relative' }}
						</ng-template>
					</ng-template>
				</ng-template>
			</div>
			<span
				[style.color]="member.color"
				[class.strikethrough]="member.deleted"
				[nz-tooltip]="memberTooltip(member)"
				[nzTooltipColor]="tooltipConfig.color"
			>
				{{ member.nickname }}
			</span>
		</nz-list-item>
	</nz-list>
</ng-container>

<ng-template #loadingTpl>
	<nz-list nzBordered nzSize="small" class="members-list">
		<nz-list-item *ngFor="let x of [1, 2, 3]">
			<nz-skeleton-element
				nzType="input"
				[nzActive]="true"
				nzSize="small"
				style="width: 100%"
			></nz-skeleton-element>
		</nz-list-item>
	</nz-list>
</ng-template>

<ng-template #deleteAccountTooltip>
	Le compte de cet utilisateur a été clôturé.
	<span class="help">
		<i
			nz-icon
			nzType="question-circle"
			nzTheme="fill"
			routerLink="/help"
			fragment="deleted-account"
		></i>
	</span>
</ng-template>
