<div style="height: 100px;
    background-color: #e1f7ff;
    padding: 10px;
    border-radius: 10px 10px 0 0;">
	<div style="text-align: center">
		<a href="https://www.decompresso.fr">{{> logo }}</a>
	</div>
</div>
