@import 'styles/fonts';
@import 'styles/utilities';
@import 'styles/colors';

.firebase-emulator-warning {
	display: none;
}

::selection {
	color: white;
	background: $main-color;
}

.rough-annotation {
	z-index: -1;
}

.ant-message {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 0 40px;
}

.ant-tooltip-inner:has(.help) {
	white-space: pre-wrap;
}
.ant-tooltip .help {
	float: right;
	cursor: pointer;
}

.page-title {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 0.2em;
	letter-spacing: 2px;
	margin-bottom: 0.5em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 38px;
	line-height: 1.23;
}

@media (max-width: 424px) {
	.page-title {
		font-size: 28px;
		padding: 0 10px;
	}
}

.page-container {
	padding: 0 20px;
}

q {
	quotes: '“' '”';
	font-style: italic;

	&:before {
		padding-right: 5px;
	}
	&:after {
		padding-left: 5px;
	}
}

.quote {
	background-color: #f3f3f3;
	border-radius: 0.25em;
	padding: 0.5em 0.75em;
	font-size: 12px;
}

.ant-btn-group.vertical {
	flex-direction: column;
	& > .ant-btn:first-child:not(:last-child) {
		border-radius: 5px 5px 0 0;
	}
	& > .ant-btn:last-child:not(:first-child) {
		border-radius: 0 0 5px 5px;
	}
	& .ant-btn + .ant-btn {
		margin-left: initial;
		margin-top: -1px;
	}
}
