@import 'styles/fonts';
@import 'styles/utilities';
@import 'styles/colors';

.firebase-emulator-warning {
	display: none;
}

body {
	background-color: #f7f7f9;
}

#header {
	margin: max(1rem, 2.5vh) 1rem;
	color: #231f20;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#logo {
	height: 100px;
	transition: filter 0.5s, height 0.35s cubic-bezier(0.2, 0.7, 0.32, 1),
		width 0.35s cubic-bezier(0.2, 0.7, 0.32, 1);
	margin: 0 1em;
}

#title {
	display: flex;
	flex-direction: column;
	width: 125%;
	justify-content: center;
	font-size: 38px;
	transition: all 0.35s cubic-bezier(0.2, 0.7, 0.32, 1), color 0s;

	font-family: 'Carter One', serif;

	#app-name {
		line-height: 1;
		margin-top: 0.3em;
		.first-letter {
			font-size: 1.125em;
		}
	}
	#room-name {
		font-size: 0.75em;

		line-height: 1;
		color: dodgerblue;
		align-self: flex-end;

		animation: fadeInFromTop 500ms 0ms forwards;
	}
}

.main-container {
	width: 100%;
}
@media (max-width: 424px) {
	.xs-padding {
		padding-left: 5vw;
		padding-right: 5vw;
	}
}
@media (min-width: 425px) {
	.main-container {
		padding-left: 7.5vw;
		padding-right: 7.5vw;
	}
}
@media (min-width: 1600px) {
	.main-container {
		min-width: 1600px;
		padding: 0 120px;
		margin: auto;
	}
}

::selection {
	color: white;
	background: $main-color;
}

.rough-annotation {
	z-index: -1;
}

.ant-message {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 0 40px;
}
.ant-message-custom-content {
	display: flex;
	text-align: initial;
}

.ant-tooltip-inner:has(.help) {
	white-space: pre-wrap;
}
.ant-tooltip .help {
	float: right;
	cursor: pointer;
}

.ant-input,
.ant-btn:not(.ant-btn-circle),
.ant-collapse,
.ant-card,
.ant-card-body,
.ant-alert,
.ant-btn:not(.ant-btn-circle).ant-btn-icon-only,
.ant-input-affix-wrapper,
.ant-tooltip-inner,
.ant-popover-inner {
	border-radius: 5px;
}
.ant-btn-group .ant-btn {
	border-radius: 0;
}

.page-title {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 0.2em;
	letter-spacing: 2px;
	margin-bottom: 0.5em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 38px;
	line-height: 1.23;
}

@media (max-width: 424px) {
	.page-title {
		font-size: 28px;
		padding: 0 10px;
	}
}

.page-container {
	padding: 0 20px;
}

q {
	quotes: '“' '”';
	font-style: italic;

	&:before {
		padding-right: 5px;
	}
	&:after {
		padding-left: 5px;
	}
}

.quote {
	background-color: #f3f3f3;
	border-radius: 0.25em;
	padding: 0.5em 0.75em;
	font-size: 12px;
}

.ant-btn-group.vertical {
	flex-direction: column;
	& > .ant-btn:first-child:not(:last-child) {
		border-radius: 5px 5px 0 0;
	}
	& > .ant-btn:last-child:not(:first-child) {
		border-radius: 0 0 5px 5px;
	}
	& .ant-btn + .ant-btn {
		margin-left: initial;
		margin-top: -1px;
	}
}

.ant-alert-with-description {
	padding: 15px;
}

blockquote {
	margin: 0;
}

blockquote p {
	margin: 0;
	padding: 15px;
	background: #eee;
	border-radius: 5px;
	font-style: italic;
}

blockquote p::before {
	content: '\201C';
}

blockquote p::after {
	content: '\201D';
}
figure figcaption {
	text-align: right;
	&::before {
		content: '— ';
	}
}

$languageSwitcherStickWidth: 767px;
.language-switcher {
	right: 10px;
	position: absolute;
	background-color: rgb(8 61 119 / 3%);
	border-radius: 50px;
	padding: 10px min(25px, 4vw);

	@media (max-width: $languageSwitcherStickWidth) {
		position: fixed;
		top: initial !important;
		bottom: 3vh;
		right: 3vw;
		z-index: 1;
		background-color: #ffe5d4;
		box-shadow: 0 1px 2px 1px rgb(93 93 93 / 18%);
		display: flex;
		justify-content: center;
		align-items: center;

		&.cookies-offset {
			margin-bottom: 100px;
		}
	}
}

.dot-underline {
	border-bottom: 1px solid #a2a2a2;
	border-bottom-style: dashed;
	padding-bottom: 2px;
}

.content {
	@media (max-width: $languageSwitcherStickWidth) {
		margin-bottom: 100px;
	}
}
