@import 'src/styles/colors';

$section1-unicorn-color: #ff8dc6;
$section3-unicorn-color: #0087c3;

::ng-deep mas-home {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	background-color: white;
}
#header {
	margin: max(10px, 2vh) 1rem;
	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #231f20;
	}
}
#title {
	width: inherit;
	font-size: max(19px, 3vh);
}
#logo {
	height: max(50px, 9vh);
}

#sub {
	letter-spacing: 0.5px;
	font-size: clamp(15px, 3vw, 22px);
	margin-top: 1.5em;
}

#headline {
	font-size: clamp(22px, 8vw, 48px);
	font-weight: 800;
	max-width: 55%;
	margin: 26px 0 36px 0;

	font-family: 'Bowlby One', sans-serif;
	font-style: normal;
	line-height: 125%;

	letter-spacing: 0.04em;
	text-transform: uppercase;

	transition: color 0.2s ease-out;

	.unicorn & {
		color: #4a5e90;
	}

	.main {
		transition: color 0.2s ease-out;
		.unicorn & {
			color: #15e6cd;
			filter: drop-shadow(0px 1px 0px #13ceb7);
			letter-spacing: 3px;
		}
	}

	.sub {
		font-size: 0.25em;
		line-height: normal;
		letter-spacing: 1px;
	}
}
@media (max-width: 959px) {
	#headline {
		max-width: 73%;
	}
}
@media (max-width: 424px) {
	#headline {
		margin-left: 30px;
	}
}

#anon {
	font-weight: bold;
	padding-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

@media (min-width: 960px) {
	#login-button-container {
		display: none !important;
	}
}
#floating-signin-container {
	transform: rotate(-2deg);
	top: max(-6vh, (-30px));
	right: 13%;
	z-index: 1;
}
@media (max-width: 959px) {
	#floating-signin-container {
		display: none;
	}
}
@media (min-width: 960px) and (max-width: 1349px) {
	#floating-signin-container {
		right: 7%;
	}
}
#login-button-container {
	top: 0;
	right: 9vw;
	z-index: 1;

	button {
		font-weight: bold;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 150px;
		height: 150px;
		color: #fff;
		background-color: #ff3c5b;
		text-shadow: 0 -1px 0 #0000001f;
		box-shadow: -4px 4px 0px 3px #d02b45;
		border: 2px solid #fb5570;
		transition: box-shadow 0.2s ease-out, background-color 0.2s ease-out, border 0.2s ease-out;

		.unicorn & {
			background-color: #758ecd;
			text-shadow: 0 -1px 0 #0000001f;
			box-shadow: -4px 4px 0px 3px #4a5e90;
			border: 2px solid #758ecd;
		}

		&:hover {
			box-shadow: -4px 4px 0px 3px #d62642, inset 0px 0px 14px 4px #d62642 !important;
			border-color: #c12d44 !important;

			.unicorn & {
				box-shadow: -4px 4px 0px 3px #4d65a0, inset 0px 0px 14px 4px #4d65a0,
					-6px 6px 18px 2px rgb(213 103 253 / 50%) !important;
				border-color: #637cbc !important;
			}

			.button-text {
				filter: drop-shadow(0px 0px 1px white);
			}
		}

		.button-text {
			transform: rotate(353deg);
			font-size: 30px;
			line-height: 1.3em;
			padding-bottom: 8px;
			font-family: 'Open Sans', sans-serif;
			text-transform: uppercase;
			transition: filter 0s;

			i {
				font-size: 125%;
			}
		}
	}
}
@media (max-width: 569px) {
	#login-button-container {
		button {
			width: 100px;
			height: 100px;

			.button-text {
				font-size: 20px;
				line-height: 1.3em;
			}
		}
	}
}
@media (max-width: 443px) {
	#login-button-container {
		button {
			width: 75px;
			height: 75px;

			.button-text {
				font-size: 16px;
				line-height: 1.2em;
			}
		}
	}
}

::ng-deep .signin-modal .ant-modal-content {
	border-radius: 10px;
}
::ng-deep .signin-modal .ant-modal-body {
	padding: 0;
}
::ng-deep .signin-modal .ant-card {
	border-radius: 10px !important;
}

.shape-fill {
	transition: fill 0.5s;
}

.custom-shape-divider-bottom-1610457773 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;

	.unicorn & .shape-fill {
		fill: $section1-unicorn-color !important;
	}
}

.custom-shape-divider-bottom-1610457773 svg {
	position: relative;
	display: block;
	width: calc(190% + 1.3px);
	height: 65px;
}

.custom-shape-divider-bottom-1610457773 .shape-fill {
	fill: #50bbdd;
}

.custom-shape-divider-top-1610532935 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;

	.unicorn & .shape-fill {
		fill: $section1-unicorn-color !important;
	}
}

.custom-shape-divider-top-1610532935 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 59px;
}

.custom-shape-divider-top-1610532935 .shape-fill {
	fill: #50bbdd;
}

.custom-shape-divider-bottom-1610533017 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);

	.unicorn & .shape-fill {
		fill: $section3-unicorn-color !important;
	}
}

.custom-shape-divider-bottom-1610533017 svg {
	position: relative;
	display: block;
	width: calc(127% + 1.3px);
	height: 59px;
	transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1610533017 .shape-fill {
	fill: #ff3c5b;
}

.custom-shape-divider-bottom-1610531430 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1610531430 svg {
	position: relative;
	display: block;
	width: calc(223% + 1.3px);
	height: 59px;
}

.custom-shape-divider-bottom-1610531430 .shape-fill {
	fill: #ffffff;
}

.section-title {
	font-weight: bold;
	font-size: 36px;
	line-height: 138.69%;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}
.section-subtitle {
	font-size: 20px;
	line-height: 175%;
}

#section1,
#section2,
#section3,
#section4 {
	& > div:first-child {
		transition: background-color 0.5s;
	}
}

.unicorn {
	#section2,
	#section4 {
		.section-title {
			color: #15e6cd;
		}
		.section-subtitle,
		.section-content {
			color: #4a5e90;
		}
	}
}

.profiles {
	$profile-main-color: #ff3c5b;
	$profile-main-color-fun: #4a5e90;
	$profile-secondary-color: white;

	width: 100%;
	padding: 5px 0;
	/* border-top: 1px solid #1890ff; */
	/* border-bottom: 1px solid #1890ff; */
	color: $profile-secondary-color;
	text-align: center;
	margin: 30px auto 40px auto;

	.intro {
		font-size: 24px;
		color: $profile-main-color;
		font-family: 'Bowlby One', sans-serif;
		font-style: normal;
		line-height: 125%;
		margin-bottom: 4px;
		letter-spacing: 0.05em;
		text-transform: uppercase;

		.unicorn & {
			color: $profile-main-color-fun;
		}
	}

	.container {
		border-top: 1px solid rgba(30, 144, 255, 0);
		background: $profile-main-color;
		margin: auto;
		padding: 5px;
		border-radius: 15px;
		max-width: 500px;

		.unicorn & {
			background: $profile-main-color-fun;
		}
	}
	.label {
		padding: 0 1vw;
		font-size: 16px;
	}
	.profile-button {
		border-radius: 20px;
		background-color: rgb(255 255 255 / 9%);
		border: 1px solid;
		padding: 0.2em 0.75em;
		margin: 0.5em;
		-webkit-user-select: none;
		user-select: none;
		font-size: 18px;
		color: $profile-secondary-color;
		transition: all 0.25s ease-out;

		&:hover {
			cursor: pointer;
			background-color: rgb(255 255 255 / 0%);
			transform: scale(1.075);
		}
	}
}

#section1 {
	.unicorn & > div:first-child {
		background-color: $section1-unicorn-color !important;
	}
	.main-container {
		padding-bottom: 29px;

		@media (min-width: 425px) {
			padding-left: 50px;
			padding-right: 50px;
		}
	}
	.section-title {
		font-size: clamp(28px, 2vw, 32px);
		font-weight: 300;

		.unicorn & {
			font-size: clamp(42px, 10vw, 64px);
		}
	}
	.section-subtitle {
		padding-top: 15px;

		& > * {
			margin: 10px;
		}
		.title {
			font-size: 30px;
			font-weight: bolder;
			font-family: 'Carter One', sans-serif;
			letter-spacing: 1px;
			line-height: 145%;
		}
		.description {
			font-weight: 300;
			font-size: 20px;
		}
	}
}
@media (min-width: 960px) {
	#section1 .section-title {
		padding-top: min(165px, 12vw);
	}
}
@media (max-width: 959px) {
	#section1 .section-title {
		margin-top: 0.75em;
	}
}

@media (min-width: 570px) {
	#section3 .list {
		padding-left: 60px;
	}
}

#section3 {
	.unicorn & > div:first-child {
		background-color: $section3-unicorn-color !important;
	}
}

#section4 {
	.section-title {
		font-size: 26px;
		margin-bottom: 0.5em;
	}

	.section-content {
		font-size: 17px;
	}
}

.signup-button {
	text-transform: uppercase;
	padding: 0.4em 1em;
	font-size: 24px;
	font-weight: bold;
	background: #19cc60;
	border: #15af52;
	color: white;
	border-radius: 5px;
	transition: filter 0.5s, box-shadow 0.5s;
	outline: none;
	box-shadow: 2px 2px 0 2px #0fa794;

	.unicorn & {
		background: #15e6cd;
		border: #13ceb7;
	}
	.text {
		transition: filter 0.25s;
	}

	&:hover {
		filter: drop-shadow(0px 0px 8px rgb(21 230 205 / 75%));
		cursor: pointer;
		border: #19e0c8;

		.text {
			filter: drop-shadow(0px 0px 4px rgb(255 255 255 / 50%));
		}
	}
}
