<div fxLayout="column" fxLayoutAlign="start stretch" style="height: 100%">
	<div fxFlex="0 0 20%" fxLayout="column" fxLayoutAlign="center">
		<div id="intro">
			<div id="headline">
				<span [roughNotation]="headlineAnnotationConfig">
					Et si on réinventait la <span class="nowrap">pause-café</span>&nbsp;?
				</span>
			</div>
			<div>
				Venez tchatter
				<span id="anon" [roughNotation]="anonAnnotationConfig">anonymement</span>
				avec
				<span class="nowrap"
					>vos&nbsp;collègues <i nz-icon nzType="comment" nzTheme="outline"></i
				></span>
				<br />
				Boulot ou petits ragots, à vous de choisir !
			</div>
		</div>
	</div>
	<div
		fxFlex="grow"
		fxLayout="column"
		fxLayoutAlign="center center"
		style="padding: min(150px, 10vmin) 0"
	>
		<mas-signin></mas-signin>
	</div>
</div>
