<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="grow">
	<div fxFlex="0 0 20%" fxLayout="column" fxLayoutAlign="center">
		<div id="intro">
			<div id="headline">
				<span [roughNotation]="headlineAnnotationConfig">
					Et&nbsp;si on réinventait la pause&#x2011;café&nbsp;?
				</span>
			</div>
			<div id="sub">
				Venez tchatter
				<span id="anon" [roughNotation]="anonAnnotationConfig">anonymement</span>
				avec
				<span class="nowrap"
					>vos&nbsp;collègues <i nz-icon nzType="comment" nzTheme="outline"></i
				></span>
				<br />
				Boulot ou petits ragots, à vous de choisir&nbsp;!
			</div>
		</div>
	</div>
	<div
		fxFlex="grow"
		fxLayout="column"
		fxLayoutAlign="start center"
		style="padding: 5vh 0"
	>
		<mas-signin></mas-signin>
	</div>
</div>
