<div fxLayout="column" fxLayoutAlign="start stretch" style="height: 100%">
	<div fxFlex="0 0 20%" fxLayout="column" fxLayoutAlign="center" style="font-size: medium">
		<div style="max-width: 700px; margin: auto">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum esse fugiat ipsum
			molestiae voluptates? Ab dolor, eligendi id incidunt iure laudantium, maxime modi odit
			omnis porro possimus quo suscipit vel.
		</div>
	</div>
	<div fxFlex="grow" fxLayout="column" fxLayoutAlign="center center" style="padding-bottom: 20%">
		<div style="max-width: min(90vw, 500px); width: 100%">
			<mas-signin></mas-signin>
		</div>
	</div>
</div>
